.status-messages {
  .error {
    display: none;
  }
}

.slide-bkg-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center / cover;
}

.slider-logo {
  padding: $gutter;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: opacity $effect $eta;

  @include top-drupal-header();

  [data-slide-h="0"][data-slide-v="0"] & {
    opacity: 0;
  }

  a {
    display: block;
    position: relative;
    outline: none;

    // &:after {
    //   content: '';
    //   display: block;
    //   background: $white;
    //   transition: all .3s ease-in;
    //   width: 125px;
    //   height:62px;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   opacity: 1;
    // }
  }

  &.visible {
    z-index: 999;

    a:after {
      opacity: 0;
    }
  }

  img,
  svg {
    height: auto;
    max-width: 125px;
    @include media($tablet-size) {
      max-width: 10vw;
      width: 10vw !important;
    }
  }

  svg {
    path, polygon {
      transition: fill $effect $eta;

      .inverted & {
        fill: $white;
      }
    }
  }
}

.reveal {
  // letter-spacing: 1.3px;
  font-family: inherit;


  a, a:visited {
    color: $black;
    &:hover {
      color: $medium-gray;
    }
  }

  .slides {
    text-align: left;
  }

  section img {
    border: none;
    box-shadow: none;

    &.align-center {
      margin-right: auto;
      margin-left: auto;
    }
  }

  // h1, h2, h3, h4, h5, h6 {
  //   font-family: inherit;
  //   text-transform: inherit;
  // }

  // // h2,
  // h5 {
  //   display: block;
  //   color: inherit;
  //   font-family: $base-font-bold-family;
  //   font-weight: normal;
  //   font-weight: 700;
  //   // letter-spacing: 2px;
  //   font-size: 20px;
  //   text-align:left;
  // }

  // h5 {
  //   padding: 20px 0;
  //   font-size: 13px;
  //   margin: 1.67em 0;
  // }

  // h1 {
  //   font-family: $heading-family;
  //   font-weight: normal;
  //   font-weight: 400;
  //   // letter-spacing: 2px;
  //   text-transform: none;
  //   font-size: 35px;
  //   line-height: 1;
  //   margin-top: 10px;
  //   margin-bottom: .25em;
  // }

  // h6 {
  //   font-weight: 500;
  //   font-style: normal;
  //   letter-spacing: 2px;
  //   color: $black;
  //   font-size: 14px;
  //   margin: 0;
  //   letter-spacing: 0;
  // }

  ul:not(.contextual-links) {
    list-style-type: square;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    line-height: 14px;
  }
  .contextual-links {
    display: none;
  }
  .contextual.open .contextual-links {
    display: block;
  }


  .controls, .progress {
    color: $black;
  }

  // Override typography broken style.
  &.center {
    @include media($tablet-size) {
      max-width: none;
      margin-right: 0;
      margin-left: 0;
    }
  }

  // h2,
  .main-title {
    width: auto;
    border: none;
  }
}

.paragraph--type--slide-list {
  display: flex;
  justify-content: space-between;

  &.display--hide_show {
    .number {
      font-weight: 500;
      font-style: normal;
      letter-spacing: 2px;
      color: $black;
      font-size: 14px;
    }

    .field--name-field-list-item-title {
      border-top: 5px solid #000;
      font-weight: normal;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 10px 0;
      margin-bottom: 10px;
      margin-top: 5px;
      font-size: 13px;
    }

    .col:not(:last-child) {
      margin-right: $gutter*0.5;
    }
  }

  &.display--list {
    .col {
      width: 45%;
    }

    .number {
      padding: 5px 8px;
      width: 28px;
      height: 28px;
      color: $white;;
      background: $black;
      text-align: center;
      float: left;
      margin-right: 10px;
      font-size: 13px;
      line-height: 1.5;
    }

    .field--name-field-list-item-title {
      font-weight: 500;
      font-style: normal;
      letter-spacing: 2px;
      color: #000;
      padding-top: 5px;
      font-size: 13px;
      line-height: 1.5;
    }

    p {
      font-size: 13px;
      border: none;
      padding: 0;
      line-height: 1.5;
      text-transform: none;
    }

    .paragraph--type--slide-list-item {
      padding-bottom: 15px;
    }
  }
}

.paragraph--type--slide-menu,
.slide-menu {
  margin: 0 -2%;
  display: flex;
  flex-wrap: wrap;

  .menu-item {
    margin: 0 2%;
    flex-grow: 1;

    h5 {
      width: 100%;
    }
  }
}

.col-sixth,
.col-fifth,
.col-fourth,
.col-third,
.col-half,
.col-one-two,
.col-two-one {
  .section-row {
    display: grid !important;
    grid-column-gap: 40px;
  }
}
.col-half .section-row {
  grid-template-columns: 1fr 1fr;
}
.col-third .section-row {
  grid-template-columns: 1fr 1fr 1fr;
}
.col-fourth .section-row {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.col-fifth .section-row {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.col-sixth .section-row {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.col-one-two .section-row {
  grid-template-columns: 1fr 2fr;
}
.col-two-one .section-row {
  grid-template-columns: 2fr 1fr;
}

// Get pager styles.
.rsBullets {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  right:auto;
  z-index: 35;
  padding-top: 4px;
  height: auto;
  text-align: center;
  line-height: 6px;
  overflow: hidden;
  padding-bottom: 50px;
  pointer-events: none;
}

.rsGCaption,
.rsBullets {
  transition: opacity $effect $eta;
  .js-hide-platform-nav & {
    opacity: 0;
  }
}

.rsBullet {
  pointer-events: all;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 6px;
  padding:0;
}

.rsBullet span {
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid $black;
  background: none;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  transition: all $effect $eta;
  // box-shadow: none;

  .inverted & {
    border-color: $white;
  }
}

.rsBullet.rsNavSelected span,
.rsBullet span:hover {
  // background-size: 20px 20px;
  // background-image: -webkit-repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
  // background-image: -moz-repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
  // background-image: -o-repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
  // background-image: repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
  transition: background-color $effect $eta;
  background: $black;

  .inverted & {
    background: $white;
  }
}

.rsGCaption {
  position: absolute;
  float: none;
  bottom: 20px;
  text-align: left;
  width:100%;
  text-align:center;
  color: inherit;
  font-size: 16px;
  text-transform:uppercase;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 2px;
}

aside.controls {
  display: none !important;
}

.revealSubMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  list-style-type: none;
  transition: opacity $effect $eta;

  .js-hide-platform-nav & {
    opacity: 0;
  }

  li {
    width: 11px;
    height: 11px;
    border: 1px solid $black;
    border-radius: 50%;
    transition: background-color $effect $eta;
    margin: 15px 0;
    position: relative;
    cursor: pointer;

    &.js-active, &:hover {
      background: $black;
      span {
        opacity: 1;
      }

      .inverted & {
        background-color: $white;
      }
    }

    span {
      position: absolute;
      right: 23px;
      top: 50%;
      width: 125px;
      transform: translateY(-50%);
      text-align: right;
      opacity: 0;
      transition: opacity $effect $eta;
      // white-space: nowrap;
      // text-transform: lowercase;
      line-height: 1.2;
      &:first-letter {
        text-transform: uppercase;
      }
    }

    .inverted & {
      border-color: $white;
    }
  }
}

section.present {
  .toolbar-fixed & {
    transform: transformY(#{-($drupal-header)/2});
  }
  .toolbar-horizontal.toolbar-fixed & {
    transform: translateY(#{-($drupal-header)/2});
  }
  .toolbar-horizontal.toolbar-fixed.toolbar-tray-open & {
    transform: translateY(#{-($drupal-header + $drupal-toolbar)/2});
  }
}
