h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $heading-bold-family;
	font-weight: $heading-bold-weight;
	line-height: $heading-line-height;
	letter-spacing: 0;
	margin: 20px 0;

	// font-family: $heading-family;
	// font-weight: normal;
	// font-weight: 400;
	// line-height: 1;
	// margin: 20px;
}

h1, .h1 {
	font-size: $base-font-size*4;
	margin: 35px 0;
}
h2, .h2 {
	font-size: $base-font-size*3.25;
}
h3, .h3 {
	font-size: $base-font-size*2.25;
}
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $base-font-bold-family;
	font-weight: $base-font-weight-bold;
	font-size: $base-font-size*1.5;
	margin: 20px 0;
}
h4, .h4 {
	letter-spacing: 1.2px;
	text-transform: uppercase;
}
h5, .h5 {
	letter-spacing: 0px;
	text-transform: none;
}
h6, .h6 {
	letter-spacing: 0px;
	font-weight: $base-font-weight;
	text-transform: none;
}

.slides {
	text-align: left;
}

p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.8;
	margin: 0.65em 0;
	@include first-last;
}
