@import "../../../themes/custom/mla_theme/templates/global/variables/all";

.button {
	&.button--atc {
		font-family: inherit;
		font-size: inherit; 
		border-radius: $base-border-radius;
		border: $base-border;
		display: block;
		padding: 10px 25px;
		zoom: 0 !important;
		text-shadow: none;
		@include caps();
		line-height: $base-line-height !important;

		&:hover, &:focus, &:active {
			font-size: inherit;
			border: $base-border !important;
			background: $black !important;
			color: $white !important;
		}

		.addeventatc_dropdown .frs {
			display: none !important;
		}

	}
	.picatic-button-row & {
		// display: inline-block;
		margin: $gutter/2 auto 0;
		@include media($tablet-size) {
			width: 270px;
		}
	}
}

.node--picatic--full {
	> .row {
		margin: $gutter*2 0;
		@include media($tablet-size) {
			display: flex;
			flex-wrap: norwrap;
			> div {
				width: 50%;
				box-sizing: border-box;
				&:first-child {
					border-right: 1px solid $black;
					padding-right: $gutter;
				}
				&:last-child {
					padding-left: $gutter;
				}
			}
		}
	}
}