.accordion, .accordion-title {
  @include media($tablet-size) {
    width: 248px;
    float: right;
    @include clearfix();
  }
}

.accordion {
  clear: both;
	> li > a {
		display: block;
		position: relative;
		font-size: 1.25em;
		&:after {
			content: '+';
			position: absolute;
			right: 10px;
    }
    &.js-active::after {
      content: '-';
    }
	}


    ul {
        overflow: hidden;
        display: none;
         a {
      		text-transform: uppercase;
			&:before {
      			content: '-';
      			margin-right: 5px;
      		}
      	}
    }
  
    li {
        margin: 1em 0;
      	
        a.toggle {
            width: 100%;
            display: block;
            background: rgba(0,0,0,0.78);
            color: #fefefe;
            padding: .75em;
            border-radius: 0.15em;
            transition: background .3s ease;
          
            &:hover {
                background: rgba(0, 0, 0, 0.9);
            }
        }
    }
}

.accordion-title {
	@include caps();
	font-size: 1.35em;
	border-bottom: $border-thick solid $black;
	border-top: $base-border;
	padding: $ribbon-pad 0px;
	margin-bottom: 25px;
}