#block-mla-theme-local-tasks {
	ul.tabs {
		padding-bottom: 10px;
		border-bottom: $base-border;
		margin-bottom: $gutter;
		white-space: nowrap;
		overflow-x: scroll;
		@include smooth-scroll();
		@include media($tablet-size) {
			@include display(flex);
			@include justify-content(space-around);
		}

		li {
			display: inline-block;
			white-space: nowrap;

			@include caps();
		}
		a {
			margin: $gutter/2 $gutter;
			@include media($tablet-size) {
				margin: $gutter $gutter;
			}
		}		
	}
}