.paragraph--type--feature {
	overflow: hidden;
	background: $light-gray;
	position: relative;
	.top {
		position: relative;
		padding-top: 100%;
		background: no-repeat center center / auto 100%;
		@include media($tablet-size) {
			background-size: cover;
		}
		&:before {
			content: '';
			z-index: 0;
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			// background: url(/themes/custom/mla_theme/images/substitute-background.svg) no-repeat center center / auto 100%;
			@include media($tablet-size) {
				background-size: cover;
			}
		}
		&:after {
			content: '';
			background: linear-gradient(rgba($blue-grey,0),rgba($blue-grey,0.65));
			position: absolute;
			bottom: 0px;
			left: 0px;
			height: 30%;
			width: 100%;
			z-index: 0;
		}
		.field--name-field-header {
			position: absolute;
			left: 0px;
			bottom: 0px;
			width: 100%;
			color: $white;
			font-family: $heading-family;
			font-weight: $heading-weight;
			line-height: $heading-line-height;
			z-index: 1;
			padding: $w-pad/2;
			font-size: 3em;
			@include media($tablet-size) {
				font-size: 3.75em;
			}
		}
	}
	.bottom {
		padding: $gutter/2 $gutter/2 $gutter*1.75;
		@include clearfix();
		a {
			@include caps();
			float: right;
			&:after {
				content: '+';
			    font-size: 2em;
			    font-family: $base-font-family;
				margin-left: 10px;
			    vertical-align: middle;
			    position: relative;
			    margin-top: -8px;
			    display: inline-block;
			}
		}
	}
	.field--name-field-callout-link {
		// display: none;
		position: absolute;
		bottom: $gutter*0.25;
		right: $gutter/2;
	}
}
