.paragraph--type--hero {
	background-color: $black;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	color: $white;
	min-height: 75vh;
	margin: $gutter*2 0;
	background: transparent no-repeat center;
	background-size: auto 100%;
	@include media($tablet-size) {
		background-size: cover;
	}

	> .inner {
		padding: $gutter*2 $gutter;
		max-width: $tablet-size;
		// .path-mla-vision & {
			// max-width: $inner-max-width;
		// }
		@include media($tablet-size) {
			padding: $gutter*4 $gutter;
		}
	}

	.border-title {
		text-transform: none;
		margin: 0 auto 25px;
		@include media($tablet-size) {
			.path-mla-vision & {
				max-width: $inner-max-width;
			}
		}
		&:after {
			border-color: $white;
		}
	}
	.subtitle {
		@include caps();
		font-family: $base-font-family;
		font-size: 0.8em;
	}

	&.text-center {
		text-align: center;
		> .inner {
			margin: 0px auto;
		}		
	}
	&.top-center {
		> .inner {
			@include align-self(center);
		}
	}
	&.top-align {
		> .inner {
			@include align-self(flex-start);
		}
	}
	&.bottom-align {
		> .inner {
			@include align-self(flex-end);
		}
	}
	&.font-black {
		color: $black;
		background-color: transparent;
		&:after {
			border-color: $black;
		}
	}
}