.paragraph--type--svg-slide {
  text-align: center;

  .js-svg-pan-zoom {
    width: 100vw;
    height: 100vh;

    svg {
      display: inline;
      width: inherit;
      min-width: inherit;
      max-width: inherit;
      height: inherit;
      min-height: inherit;
      max-height: inherit;
      overflow: auto !important;
    }
  }
}

.svg-slide {
  .slides {
    width: 100vw !important;
    height: 100vh !important;
  }
}
