.paragraph--type--video {
	a {
		outline: none;
	}

	@include media(max-width $tablet-size) {
		@include burst-out();
	}

	.video-container {
		// @include media(max-width $tablet-size) {
		// 	display: none;
		// }
	}	
}