.paragraph--type--quote {
	text-align: center;
	.layout--col-half & {
		padding: 0 $gutter;
		@include media($tablet-size) {
			max-width: $inner-max-width;
			margin-left: auto;
			margin-right: auto;
			@include display(flex);
			@include justify-content(center);
			@include align-items(center);
		}
	}

	> .inner {
		width: 100%;
	}

	.field--name-field-quote {
		font-size: 1.46875em;
		&:before, &:after {
			display: block;
			font-size: 3.46875em;
			line-height: 1em;
			font-family: $heading-bold-family;
			font-weight: $heading-bold-weight;
		}
		&:before {
			content: '\201C';
		}
		&:after {
			content: '\201D';
			margin-top: 0.5em;
		}
	}	
	.field--name-field-subline {
		@include caps();
	}
	h4 {
		text-transform: none;
		margin: 0 0 10px
	}
}