.paragraph--type--service-cta {
	background: $black no-repeat center / 220% auto;
	color: $white;
	text-align: center;
	padding: $gutter/2;
	@include media($tablet-size) {
		margin: 0;
		background-size: cover;
		// padding: $gutter;
	}
	
	.layout--col-half & {
		@include media($tablet-size) {
			margin: 0 $gutter;
			max-width: $inner-max-width;
			margin-left: auto;
			margin-right: auto;
		}
	}

	h2 {
		font-size: 2.8em;
	}

	a {
		color: inherit;
	}
	.divider {
		border-color: $white;
		margin-top: $gutter;
		margin-bottom: $gutter;
	}
	.field--name-field-call-to-action, .subtitle {
		@include caps();
		@include media(max-width $tablet-size) {
			font-size: 0.7em;
		}
	}

	svg {
		display: block;
		margin: 0px auto;
		height: auto;
		width: 150px;
		// @include media($tablet-size) {
		// 	width: 250px;
		// }
		path {
			fill: $white;
		}
	}
	> .inner {
		border: 1px solid $white;
		padding: $gutter/2;
		@include media($tablet-size) {
			padding: $gutter;
		}
	}
	.logo {
		margin-top: .5em;
		span {
			@include caps();
			margin-top: 20px;
    		display: block;
		} 
	}
}