{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{# {% set classes = [
    'paragraph',
    'paragraph--type--container',
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class
] %}

{% set layoutAttribute = create_attribute() %}
{% set layoutVar = content.field_layout|field_value|render|trim %}
{% set dividerVar = false %}
{% set responsiveVar = content.field_responsive|field_value|render|trim %}
{% set layoutClasses = [
    'layout-container',
    'layout--' ~ layoutVar,
    dividerVar ? 'show-divider',
    responsiveVar ? 'is-responsive' : 'not-responsive horizontal-scroll'
] %}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {{ content.contextual_links }}
        {% block content %}
            <div{{ layoutAttribute.addClass(layoutClasses) }}> #}
                {# {{ content.field_container_content|field_value }} #}
            {# </div>
        {% endblock %}
    </div>
{% endblock paragraph %} #}

{% set layoutVar = content.field_layout|field_value|render|trim %}
{% set mainTitle = content.field_main_title|field_value %}
{% set hideLogo = content.field_hide_logo|render|striptags|trim == '1' %}

{% block paragraph %}
    {% block content %}
        {% if content.field_slide_color.0['#markup'] %}
            {% set bkg_color = 'data-bkg-color="' ~ content.field_slide_color.0['#markup'] ~ '"' %}
        {% endif %}
        {% if content.field_slide_background.0['#item'].entity %}
            {% set bkg_image = 'data-bkg-image="' ~ file_url(content.field_slide_background.0['#item'].entity.uri.value|image_style('home_featured_project')) ~ '"' %}
        {% endif %}
        {% if hideLogo %}
            {% set hide_logo = 'data-hide_logo="true"' %}
        {% endif %}

        {% if layoutVar != 'col-full' %}
            <section class="{{ layoutVar }} contextual-region {{ content.field_slide_font_theme['#items'].0.value ? content.field_slide_font_theme['#items'].0.value : 'slide--black' }}" {{ hide_logo|raw }} {{ bkg_color|raw }} {{ bkg_image|raw }}>
                {% if mainTitle is not empty %}
                  <h2 class="main-title h1">{{ mainTitle }}</h2>
                {% endif %}
                <div class="section-row">
                    {% for k,c in content.field_container_content|field_value %}
                        {% set first = k == 0 %}
                        {% set frag = (
                            (layoutVar == 'col-half' and k%2 != 0) or
                            (layoutVar == 'col-third' and k%3 != 0) or
                            (layoutVar == 'col-fourth' and k%4 != 0) or
                            (layoutVar == 'col-fifth' and k%5 != 0) or
                            (layoutVar == 'col-sixth' and k%6 != 0)
                        ) and first == false
                        and c['#paragraph'].field_list_item_fragment.0.value != 0 %}
                        <div class="{{ frag ? 'fragment' }}">
                            {{ c }}
                        </div>
                    {% endfor %}
                </div>
                {{ content.contextual_links }}
            </section>
        {% else %}
            {% for k,c in content.field_container_content|field_value %}
                <section class="{{ layoutVar }} contextual-region {{ content.field_slide_font_theme['#items'].0.value ? content.field_slide_font_theme['#items'].0.value : 'slide--black' }}" {{ hide_logo|raw }} {{ bkg_color|raw }} {{ bkg_image|raw }}>
                    {# {{ dd(_context) }} #}
                    {% if mainTitle is not empty and k == 0 %}
                      <h2 class="main-title h1">{{ mainTitle }}</h2>
                    {% endif %}
                    {{ c }}
                    {{ k == 0 ? content.contextual_links }}
                </section>
            {% endfor %}
        {% endif %}
    {% endblock %}
{% endblock paragraph %}
