.divider {
	margin:  0.5em auto;
	border-top: 3px solid $black;
	width: 40px;
	@include transition($border-grow-effect);
	.js-visible & {
		width: 60px;
	}

	.inverted &{
		border-color: $white;
	}
}
.burst-out {
	@include burst-out();
}
.mobile-hide {
	@include media(max-width $tablet-size) {
		display: none;
	}
}
.desktop-hide {
	@include media(min-width $tablet-size) {
		display: none;
	}
}
