.dash-link {
	@include caps();
	font-size: 0.8125em;
	line-height: $heading-line-height;
	display: block;
	position: relative;
	width: 100px;
	margin: $gutter auto;
	padding: 10px 0px;
	text-align: center;

	&:before, &:after {
		content: '';
		width: 40px;
		display: block;
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));
	}
	&:before {
		border-top: $base-border;
		top: 0;
	}
	&:after {
		border-bottom: $base-border;
		bottom: 0;
	}
}

.button {
	@include transition(
		color $effect $eta,
		background-color $effect $eta
	);
	display: block;
	padding: 10px 25px;
	border: $base-border;
	border-radius: $base-border-radius;
	text-align: center;
	@include caps();
	&:hover, &:focus, &:active {
		background: $black;
		color: $white;
	}

	.inverted & {
		border-color: $white;
		color: $white;
		background-color: transparent;
		&:hover, &:focus, &:active {
			//background: $blue-grey;
			color: $light-gray;
		}
	}
}
.button-signpost {
	position: relative;
	display: inline-block;
	font-family: $heading-medium-family;
	font-weight: $heading-medium-weight;
	line-height: 1;
	letter-spacing: 0px;
	white-space: nowrap;
	margin: 0px auto;
	margin-top: $gutter;
	padding-right: $gutter/2;
	padding-left: $gutter/2;
	font-size: 1.25em;

	@include media(max-width $tablet-size) {
		// display: block;
		// margin: 0px auto;
	}
	@include media($tablet-size) {
		font-size: 2.3125em;
		margin-top: $gutter;
		margin-bottom: $gutter;
		// padding-right: $gutter*2;
		// padding-left: $gutter*2;
		// width: 50vw;
    	margin-left: 50%;
    	@include transform(translateX(-50%));
	}

	&.button-pager-signpost {
		width: auto;
		margin-top: 0;
	}
	span {
		overflow: hidden;
		position: absolute;
		display: inline-block;
		top: -1px;
		width: 40px;
		height: 40px;
		right: -33px;

		@include media($tablet-size) {
			width: 52px;
			height: 52px;
			right: -45px;
		}
		&:after {
			@include transition(
				color $effect $eta,
				background-color $effect $eta
			);

		    @include transform(rotate(-45deg));
			content: '';
		    border: $base-border;
		    // border-left-color: $white;
		    // border-top-color: $white;
		    border-radius: $base-border-radius;
		    background: $white;
		    display: block;
		    position: absolute;
		    width: 32px;
	    	height: 32px;
		    right: 58%;
		    top: 3px;
			@include media($tablet-size) {
		    	width: 42px;
		    	height: 42px;
		    	top: 5px;
		    	right: 31px;
			}
		}
	}
	&:hover, &:focus, &:active {
		span:after {
			background: $black;
			// border-color: $black $white $white $black;
		}
	}

	&.button-signpost-small {
		width: auto;
		font-size: 1em;
		font-family: $base-font-bold-family;
		margin: $gutter 0;
		@include transform(translateX(0%));
		border-radius: $base-border-radius;
		padding-top: 18px;
		padding-bottom: 18px;
		span {
			top: -2px;
			right: -45px;
			width: 52px;
			height: 52px;

			&:after {
				height: 39px;
    			width: 39px;
				top: 7px;
				right: 32px;
				border-radius: $base-border-radius/2;
			}
		}
	}
	.inverted &{
		span:after{
			border-color: $white;
			background: $black;
		}

	}
}

.video-button{
	font-family: $heading-bold-family;
	font-size: 4em;
	display: inline-block;
	border: 1px solid $white;
	border-radius: 30px;
	line-height: 1em;
	width: 350px;
	text-align: left;
	padding: 60px 10px 20px 20px;
	text-transform: uppercase;
	@include media($tablet-size) {
		margin: 0 20px;
	}
	//background-color: $black;
	//background-image: -webkit-linear-gradient(215deg, $blue-grey 38%, $black 38%);
	@include linear-gradient(235deg, $blue-grey 38%, $black 38%);
}
