input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
	@include transition(background-color $effect $eta);
	background: rgba($white,0);
	border: 1px solid $black;
	-webkit-appearance: none;
	border-radius: 0px;
	color: inherit;
	text-align: center;
	// text-transform: uppercase;
	margin: $gutter/2 0;
	padding: 8px 20px;
	box-shadow: none;
	outline: none;
	max-width: 100%;
	@include media($tablet-size) {
		min-width: 360px;
	}

	@include placeholder {
		color: inherit;
	}

	&:focus, &:active {
		background: rgba($white,0.3);
	}
}

.form-item.consent {
	@include transition(color $effect $eta);
	.js-form-error & {
		color: $red;
	}
}

.form-type-select,
.form-item--text-input,
.form-type-textarea {
	.ui-dialog & {
		input, select, textarea {
			border-color: $white;
		}
	}
}

.form-type-select {
	label {
		@include h6();
		font-family: $base-font-family;
		display: block;
		text-align: center;
		margin-bottom: 7px;
	}
	select {
		display: block;
		text-align: center;
		font-family: $base-font-family;
		margin: 0 auto;
		width: 422px;
		line-height: 1.2;
		background: url(../images/chevron-thin-down.svg) no-repeat right 15px top 12px / 18px auto;

		option {
			text-align: center;
		}
	}
}
.form-type-textarea,
.form-item--text-input {
	position: relative;
	padding: $gutter 0 0;
	margin-bottom: $gutter/2;

	label {
		font-family: $base-font-family;
		font-weight: $heading-medium-weight;
		text-transform: uppercase;
		transition: all $effect $eta;
		transform: translate(-50%,$gutter);
		transform-origin: center left;
		pointer-events: none;
		display: block;
		text-align: center;
		position: absolute;
		top: 5px;
		left: 50%;
	}

	input, textarea {
		display: block;
		margin: 0 auto;
	}

	&.js-focus {
		label {
			transform: translate(-50%,0) scale(0.8);
		}
	}

}

#block-mla-theme-content {
	> .webform-submission-rsvp-standard-add-form {
		@include media($mobile-size) {
			width: $mobile-size;
			margin: 0 auto;
		}

		input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
			width: 100%;
		}
		.form-actions {
			margin-top: $gutter;

			.button {
				width: 100%;
			}
		}
	}
}

.webform-centered {
	max-width: 476px;
	margin: 100px auto 100px;
	padding: $gutter;
	border: solid 1px black;
}

.node--project--full .hs-button {
	margin-top: 20px;
	display: inline-block;
	background: none;
	@extend .button;
	min-width: 250px !important;
	text-align: center !important;
}
