body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight-thin;
  overflow-x: hidden;
  transition: color $effect $eta, background-color $effect $eta;

  &.inverted{
    color: $white;
    background-color: $black;
  }
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  font-family: $heading-bold-family;
  font-weight: $heading-bold-weight;
  line-height: $heading-line-height;
  &:first-child {
    margin-top: 0px;
  }
  a {
    color: inherit;
  }

  &.space-above {
    margin-top: $row-spacing !important;
  }
  &.border-title {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin: $small-spacing*2 0 $small-spacing;
    padding-bottom: 20px;
    max-width: $tablet-size;
    margin-right: auto;
    margin-left: auto;

    &:after {
      content: '';
      border-bottom: 3px solid $black;
      position: absolute;
      width: 80px;
      bottom: 0px;
      left: 50%;
      @include transform(translateX(-50%));
      @include transition($border-grow-effect);
      .js-visible & {
        // border-bottom-width: 3px;
        width: 150px;
      }

    }
  }

  .inverted &.border-title:after{
    border-bottom-color: $white;
  }

  strong {
    font-weight: inherit;
  }
}

h1, .h1 {
  @include h1();
}

h2, .h2 {
  @include h2();
}
h3, .h3 {
  @include h3();
}

.date, .date {
  + h3, + .h3 {
    margin: .5em 0;
  }
}

h4, .h4 {
  @include h4();
}
h5, .h5 {
  @include h5();
}
h6, .h6 {
  @include h6();
}

big, .big {
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: 1.77em;
  font-weight: 800;
}
small, .small {
  line-height: $base-line-height;
  font-size: 0.85em;
}
.center {
  text-align: center;
  @include media($tablet-size) {
    max-width: $tablet-size;
    margin-right: auto;
    margin-left: auto;
  }

  .layout--col-half & {
    @include media($tablet-size) {
      max-width: $tablet-size/2;
    }
  }
}

p {
  margin: $small-spacing 0;
  &:first-child {
    margin-top: 0px;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-effect;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }

  .inverted &{
    color: $white;
  }
}

em, .em {
  font-style: normal;
  @include caps();
}

ul:not(.menu) {
  // list-style-type: square;
  // padding-left: 30px;
  // margin: $small-spacing 0;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
  height: auto;
}

.text-cols {
  padding: 0px $gutter/2;
  @include media($tablet-size) {
    padding: 0;
    @include column-count(2);
    @include column-gap($gutter);
  }
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on May 26, 2017 */
@font-face {
    font-family: 'Butler';
    src: url('Fonts/butler/butler_black-webfont.eot');
    src: url('Fonts/butler/butler_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/butler/butler_black-webfont.woff2') format('woff2'),
         url('Fonts/butler/butler_black-webfont.woff') format('woff'),
         url('Fonts/butler/butler_black-webfont.ttf') format('truetype'),
         url('Fonts/butler/butler_black-webfont.svg#butlerblack') format('svg');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Butler';
    src: url('Fonts/butler/butler_extrabold-webfont.eot');
    src: url('Fonts/butler/butler_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/butler/butler_extrabold-webfont.woff2') format('woff2'),
         url('Fonts/butler/butler_extrabold-webfont.woff') format('woff'),
         url('Fonts/butler/butler_extrabold-webfont.ttf') format('truetype'),
         url('Fonts/butler/butler_extrabold-webfont.svg#butlerextrabold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Butler';
    src: url('Fonts/butler/butler_bold-webfont.eot');
    src: url('Fonts/butler/butler_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/butler/butler_bold-webfont.woff2') format('woff2'),
         url('Fonts/butler/butler_bold-webfont.woff') format('woff'),
         url('Fonts/butler/butler_bold-webfont.ttf') format('truetype'),
         url('Fonts/butler/butler_bold-webfont.svg#butlerbold') format('svg');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Butler';
    src: url('Fonts/butler/butler_medium-webfont.eot');
    src: url('Fonts/butler/butler_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/butler/butler_medium-webfont.woff2') format('woff2'),
         url('Fonts/butler/butler_medium-webfont.woff') format('woff'),
         url('Fonts/butler/butler_medium-webfont.ttf') format('truetype'),
         url('Fonts/butler/butler_medium-webfont.svg#butlermedium') format('svg');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Butler';
    src: url('Fonts/butler/butler_regular-webfont.eot');
    src: url('Fonts/butler/butler_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/butler/butler_regular-webfont.woff2') format('woff2'),
         url('Fonts/butler/butler_regular-webfont.woff') format('woff'),
         url('Fonts/butler/butler_regular-webfont.ttf') format('truetype'),
         url('Fonts/butler/butler_regular-webfont.svg#butlerregular') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Butler';
    src: url('Fonts/butler/butler_light-webfont.eot');
    src: url('Fonts/butler/butler_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/butler/butler_light-webfont.woff2') format('woff2'),
         url('Fonts/butler/butler_light-webfont.woff') format('woff'),
         url('Fonts/butler/butler_light-webfont.ttf') format('truetype'),
         url('Fonts/butler/butler_light-webfont.svg#butlerlight') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'butlerultralight';
    src: url('Fonts/butler/butler_ultra_light-webfont.eot');
    src: url('Fonts/butler/butler_ultra_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/butler/butler_ultra_light-webfont.woff2') format('woff2'),
         url('Fonts/butler/butler_ultra_light-webfont.woff') format('woff'),
         url('Fonts/butler/butler_ultra_light-webfont.ttf') format('truetype'),
         url('Fonts/butler/butler_ultra_light-webfont.svg#butlerultralight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('Fonts/montserrat-bold-webfont.eot');
    src: url('Fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('Fonts/montserrat-bold-webfont.woff') format('woff'),
         url('Fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('Fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrathairline';
    src: url('Fonts/montserrat-hairline-webfont.eot');
    src: url('Fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/montserrat-hairline-webfont.woff2') format('woff2'),
         url('Fonts/montserrat-hairline-webfont.woff') format('woff'),
         url('Fonts/montserrat-hairline-webfont.ttf') format('truetype'),
         url('Fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('Fonts/montserrat-light-webfont.eot');
    src: url('Fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('Fonts/montserrat-light-webfont.woff') format('woff'),
         url('Fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('Fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('Fonts/montserrat-regular-webfont.eot');
    src: url('Fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('Fonts/montserrat-regular-webfont.woff') format('woff'),
         url('Fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('Fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

