.ui-dialog{

  .inverted &{
    color: $white !important;
    background-color: $black;
    border-color: $black;
    padding: 20px;

    .ui-dialog-title{
      display: none;
    }

    .ui-dialog-titlebar{
      background-color: $black;
      border: 1px solid $white;
      border-bottom: none;

      .ui-dialog-titlebar-close{
        z-index: 1000;
        margin: 5px 20px 0 0;
        outline: none;
      }
      .ui-icon-closethick{
        background: url("../images/x.png") center center no-repeat;
        height: 30px;
        width: 30px;
      }
    }

    .ui-dialog-content{
      border: 1px solid $white;
      border-top: none;
      //padding-top: 0;
      margin-top: -10px;
      padding: 0;
      z-index: -1;
    }

    .ui-dialog-buttonpane{
      background-color: $black;
      border: 1px solid $white;
      border-top: none;
      z-index: 1;
      margin-top: -1px;

      button{
        color: $white;
        background-color: $black;
      }
    }

    form{
      padding: 40px 20px 10px;
      color: $white;

      label{
        display: block;
      }

      input,
      textarea{
        background: $blue-grey;
        width: 100%;
        margin-top: 0;
        text-align: left;
        padding: 10px;
      }
    }

    .video-wrapper{
      margin-top: 20px;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    &.video{
      .ui-dialog-titlebar,
      .ui-dialog-content{
        border: none;
      }

      .ui-dialog-titlebar-close{
        margin: -15px 10px 0 0;
      }
    }
  }
}