<div class="slider-logo">
  <a href="/">
    {% include '@mla_theme/../images/logo.svg' %}
    {# <img src="/themes/custom/mla_theme/images/MLA-logo.png" alt="MLA Canda" width="400" height="174"> #}
  </a>
</div>

<div{{ attributes.addClass('reveal') }}>
  {{ title_suffix }}
  <div class="slides">
    {% for slide in slider %}
      {% set chapter_title = slide['slide']['title'] %}

      {% if slide['children'] is not empty %}
        <section data-title="{{ chapter_title }}">
      {% endif %}

        <section data-title="{{ chapter_title }}">
          {{ slide['slide']['content'] }}
        </section>

        {% for subslide in slide['children']%}
          <section data-subslide data-title="{{ chapter_title }}">
            {{ subslide['content'] }}
          </section>
        {% endfor %}

      {% if slide['children'] is not empty %}
        </section>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="rsGCaption">
  <figure class="rsCaption">
    {{ (slider|first)['slide']['title'] }}
  </figure>
</div>
<div class="rsNav rsBullets">
  {% for slide in slider%}
  <a class="rsNavItem rsBullet {{ loop.index0 == 0 ? 'rsNavSelected' : '' }}" href="#/{{ loop.index0 }}" data-title="{{ slide['slide']['title'] }}"> <span></span>
  </a>
  {% endfor %}
</div>

{# <script type="text/javascript" src="https://fast.fonts.net/jsapi/7c2daaa6-672c-49d5-8f1d-ccfe0672057d.js"></script> #}
<script type="text/javascript" src="//use.typekit.net/opm5ckp.js"></script>
<script type="text/javascript">
  try {
    Typekit.load();
  } catch (e) {
  }
</script>
