@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_light-webfont.woff2') format('woff2'),
         url('../fonts/butler_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_medium-webfont.woff2') format('woff2'),
         url('../fonts/butler_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_regular-webfont.woff2') format('woff2'),
         url('../fonts/butler_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_black-webfont.woff2') format('woff2'),
         url('../fonts/butler_black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_bold-webfont.woff2') format('woff2'),
         url('../fonts/butler_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: 700;

}



@import url('https://fonts.googleapis.com/css?family=Montserrat');

body.page-template-page-microsite-php {
      width: 100%;
      height: 100%;
      overflow:hidden;
      background:#fff;
      color: #000;
      font-family: Montserrat,sans-serif;
      font-weight: 300;
	}


#micrositelogo {
	opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
	z-index:0;
	width:100%;
}

#micrositelogo img {
	max-width: 125px;
	height: auto;
}

#intro img {
	max-width: 225px;
	height: auto;
	margin-bottom:20px;
}

#demolanding {
	width:100%;
	height:100%;
	position:relative;
	background:#fff;
	z-index:9999;
	}
	
#demolanding img {
    max-width: 250px;
    left: 50%;
    top: 50%;
    position:absolute;
    margin-left:-125px;
    margin-top:-55px;
	}
	
#demolanding h1 {
	font-family: butler,"futura-pt",sans-serif;
	font-weight: normal;
	font-weight: 400;	
	letter-spacing: 2px;
	text-align:center;
	text-transform: none;
	}
	
.logocover {
	top:0;
	left:0;
	position:absolute;
	width:100%;
	height:90px;
	background:#fff;
	z-index:9999;
	}

#blvdslider h2, h5 {
	display:block;
	color: #000;
	border-top:5px solid #000;
	font-family: Montserrat,"futura-pt",sans-serif;
	font-weight: normal;
	font-weight: 700;	
	letter-spacing: 2px;	
}

#blvdslider h2 {
	padding:20px 0;
	width:250px;
	font-size:20px;
	}

.page-id-79 #blvdslider h2 {
	margin-bottom:60px;
	}	

#blvdslider h5 {
	font-size:13px;
	}
	
#blvdslider h3 {
	font-family: butler,"HelveticaNeueW01-UltLt",sans-serif;
	font-weight: 300;
	color: #000;
	margin:0;
	padding-top:15px;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 0.1em;
	}

#blvdslider p.lrg {
	font-family: Montserrat,"HelveticaNeueW01-UltLt",sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 2;
	}

#blvdslider p {
	margin-top: 5px;
	}
	
.microcol {
	width:23%;
	margin-right:2%;
}

.servicecol {
	width:19%;
	margin-right:1%;
}

.servicecol h6 {
	font-size:14px;
	margin:0;
}

.servicecol h5 {
	margin-top:5px;
	}

.microcol h5 a,
.servicecol h5 {
	display:block;
	padding:10px 0;
	color:#000;
	}


.microcol h5 a:hover {
	color:#999;
}


.teamcol {
	width:42.5%;
	margin-right:7.5%;
}

.microservice {
	padding-bottom:15px;
	}
	
.microservice .number, .person .number  {
	padding:5px 8px;
	width:28px;
	height:28px;
	color:#fff;
	background:#000;
	text-align:center;
	float:left;
	margin-right:10px;
	}
	
.person .number  {
	margin-top: 5px;
	padding:5px 5px;
	}

.microservice p {
	clear:all;
	}

.microservice h3 span {
	padding-top:5px;
	float:left;
	}

#blvdslider .person h3,
#blvdslider .person h4,
#blvdslider .person p,
#blvdslider .microservice h3,
#blvdslider .microservice p {
	font-size:13px;
	border:none;
	padding:0;
	line-height:1.5;
}

#blvdslider .servicecol h6,
#blvdslider .microservice h3,
#blvdslider .person h3 {
	font-family: Montserrat,"futura-pt",sans-serif;
	font-weight: normal;
	font-weight: 500;	
	font-style:normal;
	letter-spacing: 2px;	
	color:#000;
	}
	
#blvdslider .person h4 {
	font-family: butler,"HelveticaNeueW01-UltLt",sans-serif;
	font-weight: 300;
	color: #000;
	font-style:italic;
	margin:0;
	}

	
.servicecol h5 a,
.servicecol h5 {
	display:block;
	margin-bottom:10px;
	}

.servicecol h5:hover,	
.servicecol h5 a:hover {
	color:#000;
	}
	
.servicecol h6 {
	font-size:14px;
	}
	
.servicecol h6 a {
	text-decoration: underline;;
	}
	
	
.servicecol ul {
	list-style: none;
	padding:0;
	margin:0;
	font-size:13px;
	line-height: 18px;
	}
	
.servicecol li:hover h5 {
	border-top:5px solid #000;
	color: #000;
	}
	
.servicecol ul li ul {    
	list-style-type: square;
    margin-left: 20px;
	padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    line-height: 14px;
	}
	
.servicecol ul li > .servicelist {	
	opacity: 0; filter: alpha(opacity=0);
	-webkit-transition: -webkit-transform .5s, opacity .5s;
	-moz-transition: -moz-transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s;
	}
	
.servicecol ul li > a {
	text-decoration: underline;
	}	
.servicecol ul li ul a:hover {
	color:#000;
	}
	
.servicecol ul ul li,
.servicecol ul p {
	padding-bottom:5px;
	
	}

.servicecol ul li > .servicelist.show {
	opacity: 1 !important; filter: alpha(opacity=100);
	display:block;
	}	

	
#blvdslider #developmentcontent {
	display:none;
	}
	
.singlemicrosite {
	padding-top:76px;
	}
	
.singlemicrosite .btn {
	display:none;
	}


/* Custom Slider Styles
----------------------------------------------------------------------------------------*/


#blvdslider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
  width: 100%;
  color: #000;
 font-family: Montserrat,"HelveticaNeueW01-45Ligh",sans-serif;
 font-weight: 300;
}



.rsBLVD, .rsBLVD .rsOverflow, .rsBLVD .rsSlide, .rsBLVD .rsVideoFrameHolder, .rsBLVD .rsThumbs {
/* background: #ffffff;*/
color: #000;
}


.rsSlide:last-child {
	overflow-y: auto;
}



.rsContent {
	width: 100%;
	height: 100%;
	/* background: #ffffff;*/
	display: table;
	}
	
.contentWrapper {
    display: table-cell;    
    vertical-align: middle;
    text-align:center;
    width: 100%;
}

.contentWrapper.full {
  vertical-align: top;
}




.infoBlock {   
position:relative;
width:100%;
padding: 0 15%;
color: #000;
font-family: Montserrat,"HelveticaNeueW01-45Ligh",sans-serif;
font-weight: 300;
text-align:left;
}

.infoBlock.wide {   
padding: 0 10%;
}

.infoBlock.wide.services {   
	max-width: 1650px;
	margin:0 auto;
}

.infoBlock.projects {   
	padding: 0 15% 0 25%;
}

.infoBlock.projects img {   
	max-height: 100px;
	width: auto;
}

.infoBlock.projects a:hover img {   
	opacity: .8;
	-webkit-transition: -webkit-transform .5s, opacity .5s;
	-moz-transition: -moz-transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s;
}


.infoBlock.full  {  
margin-top:76px; 
padding: 0;
}


.rsABlock {
	position: static;
}


.rsBLVD .rsBullets {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
right:auto;
z-index: 35;
padding-top: 4px;
height: auto;
text-align: center;
line-height: 6px;
overflow: hidden;
padding-bottom:20px;
background:#fff;
background-color: rgba(255, 255, 255, .9);
}

.rsBLVD .rsBullet {
width: 15px;
height: 15px;
display: inline-block;
margin: 6px;
padding:0;
}

.rsBLVD .rsBullet span {
width: 15px;
height: 15px;
display: block;
border: 1px solid #000;
background: none;
cursor: pointer;
text-indent: -9999px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
box-shadow: none;
}

.rsBLVD .rsBullet.rsNavSelected span,
.rsBLVD .rsBullet span:hover {
background-size: 20px 20px;
background-image: -webkit-repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
background-image: -moz-repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
background-image: -o-repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
background-image: repeating-linear-gradient(45deg, #000, #000 1px, transparent 1px, transparent 14px);
}


.rsBLVD .rsArrow {
	height: 60px;
	width: 60px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 21;
}

.rsBLVD .rsArrowLeft {
left: 10px;
top:45%;
}

.rsBLVD .rsArrowRight {
right: 45px;
top:45%;
}

.rsBLVD .rsArrowIcn {		
	width: 60px;
	height: 60px;
	margin-top: 3px;
	margin-left: 3px;
	position: absolute;
	cursor: pointer;	
	background: url('../img/microsite/slidearrows.png') transparent;
	opacity: 0.0 !important; filter: alpha(opacity=0);
}

.rsBLVD .rsArrowIcn:hover {
	opacity: 1 !important; filter: alpha(opacity=100);
}


.rsBLVD.rsHor .rsArrowLeft .rsArrowIcn { background-position: 0 0; }
.rsBLVD.rsHor .rsArrowRight .rsArrowIcn { background-position: -60px 0; }

.rsBLVD .rsArrowDisabled .rsArrowIcn { opacity: 0 !important; filter: alpha(opacity=0);  *display: none; }


.rsBLVD .rsPreloader {
	width:20px;
	height:20px;
	background-image:url('../js/royalslider/preloaders/preloader-white.gif');
	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;	
}


.rsBLVD .rsGCaption {
	position: absolute;
	float: none;
	bottom: 50px;
	text-align: left;
	width:100%;
	text-align:center;
	color: #000;
	font-size: 16px;
	text-transform:uppercase;
	font-family: Montserrat,"futura-pt",sans-serif;
	font-weight: normal;
	font-weight: 500;	
	letter-spacing: 2px;	
background:#fff;
background-color: rgba(255, 255, 255, .9);
}






