/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}



/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; position: relative; zoom: 1; }
.flex-viewport {-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 0; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 60px; height: 60px; margin: -80px 0 0; position: absolute; top: 5px; z-index: 10; overflow: hidden; opacity: .5; cursor: pointer; background:url('../img/carousel/slidearrows.png')no-repeat;text-indent:-9999px;}
.flex-direction-nav .flex-prev { left: 20px; background-position: 0 0;}
.flex-direction-nav .flex-next { right: 20px; background-position: -60px 0;}
.flexslider:hover .flex-prev { opacity: 0.7; }
.flexslider:hover .flex-next { opacity: 0.7;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: .2!important; filter:alpha(opacity=.2); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block;  }
.flex-direction-nav a.flex-next:before  {  }


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav ol {padding:0;margin:0;}
.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 9px; height: 9px; display: block; border:1px solid #a1a1a1; background: none; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }
.flex-control-paging li a:hover { background: #a1a1a1; }
.flex-control-paging li a.flex-active { background: #a1a1a1;  cursor: default; }


#developmentslider .flex-control-nav,
#homehero .flex-control-nav {width: 100%; position: absolute; bottom: 20px; text-align: center;}
#developmentslider .flex-control-paging li a,
#homehero .flex-control-paging li a {width: 15px; height: 15px; display: block; border:1px solid #fff; background: none; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
#developmentslider .flex-control-paging li a.flex-active, #developmentslider .flex-control-paging li a:hover,
#homehero .flex-control-paging li a.flex-active, #homehero .flex-control-paging li a:hover { 
  background-size: 20px 20px;
  background-image: -webkit-repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
  background-image: -moz-repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
  background-image: -o-repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
  background-image: repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
}

