html, body {
    height:100%;
    text-align:center;
    }
    
html { margin-top: 0 !important; }
* html body { margin-top: 0 !important; }
    
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #939598;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #cccccc;
    text-shadow: none;
}

::selection {
    background: #cccccc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

img {
    vertical-align: middle;
    max-width:100%;
    width:auto;
    height:auto;
}





/* ===== Styles ================================================== */




body {
	font-family: "HelveticaNeueW01-UltLt",Arial, helvetica, verdana,sans-serif;
	font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color:#939598;
    background:#ffffff; 
    text-align:left;
    -webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: 99;
}

a, a:visited { outline: none; color: #363636; text-decoration:none; }  
a:hover { outline: none; color:#577587;text-decoration:none; }  
a:active, a:focus { outline: none; }



h1, h2, h3, h4, h5, h6 {
	color:#231f20;
	font-family: "HelveticaNeueW01-UltLt",Arial, helvetica, verdana,sans-serif;
	font-style: normal;
	line-height: 1.25;
	text-transform:uppercase;
	}

h1 {
	font-size:35px;
	line-height: 1;
	margin-top:10px;
	margin-bottom:.25em;
	}
	
h2 {
	font-size:36px;
	line-height: 1.25;
	margin-top:10px;
	margin-bottom:.25em;
	}
	
h3 {
	font-size:24px;
	line-height: 1.25;
	margin-top:10px;
	}


	
/* Structure
----------------------------------------------------------------------------------------*/

#container {
	width:100%;
    margin:0 auto;
    background:#fff;
    padding-top:50px;
}

.content {
	margin: 0 auto;
	padding:2em 0;
}

.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



/* Header
----------------------------------------------------------------------------------------*/

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 9999;
	}

	
.header-container header {
	max-width:100%;
	margin:0;
	position:relative;
	padding:0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	}
	
#logo {
	float:left;
	width:25%;
	min-height:50px;
	text-align:left;
	}
	
#logo img {
	width:60px;
	height: auto;
	-webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
	}
	
#address {
	display:none;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 400;	
	color:#231f20;
	margin:0 0 5px;
	text-align:right;
	font-size:12px;
	text-transform: uppercase;
	 letter-spacing: 2px;
	}
	
	

	
	
	
/* Homepage
----------------------------------------------------------------------------------------*/

#homehero {
 position:relative;
  margin-bottom:0;
  width:100%;
  height:100%;
  background:transparent;
  overflow-y:hidden;
  margin-top: -95px;
    }

#homehero .slides {
	width:100%;
	height:100%;
	height:100vh;
    }

#homehero .slides li 	{width:100%;height:100%!important; height:100vh !important; margin:0;padding:0;			
								  -webkit-background-size: cover!important;
								  -moz-background-size: cover!important;
								  -o-background-size: cover!important;
								  background-size: cover!important;
		}
body, html	{margin:0; padding:0;width:100%;height:100%!important; /* overflow-x: hidden; */}
		
		.flexslider, .flex-viewport	{width:100%;height:100%!important; margin:0;padding:0;}
		
		.flexslider .slides		{height:100%!important;}
                .flexslider .slides li 	{width:100%;height:100%!important; margin:0;padding:0;}
                
                
/*

#homehero .slides li{

    }        

#homehero .slides li, #homehero img {
 display:block;
 position:relative;
  width:100%;
  height:100vh;
    }
    
#homehero img {
    position:absolute;
  z-index:0;
   background-size:cover;

    background-position:50% 50%;
    
    }
#homehero .slides li 	{width:100%;height:100%!important; margin:0;padding:0;			
								  -webkit-background-size: cover!important;
								  -moz-background-size: cover!important;
								  -o-background-size: cover!important;
								  background-size: cover!important;
		}
body, html	{margin:0; padding:0;width:100%;height:100%!important; overflow-x: hidden;}
		
		.flexslider, .flex-viewport	{width:100%;height:100%!important; margin:0;padding:0;}
		
		.flexslider .slides		{height:100%!important;}
                .flexslider .slides li 	{width:100%;height:100%!important; margin:0;padding:0;}


			


/*

.flexslider{
display: block;
position: relative; //fixed or absolute may be needed
height: 100%!important;
overflow: hidden!important;
width: 100%!important;
}

.flexslider .slides,
.flexslider .slides li{
width: 100%!important;
height: 100%!important;
}

.flexslider .slides img{
min-height: 100%;
min-width: 100%;
max-width: 10000%!important; //over ride any existing responsive image styling
margin: 0 auto!important;
}





#landing {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	margin-bottom:-10px;
	padding:0;
	background:transparent;	
	z-index:900;
	overflow-y:hidden;		
}


.bg {
	position:relative;
	float:left;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	height:100vh;
}
.bg, .bg .img {
    display:block;
    position:relative;
    min-width:100%;
    min-height:100%;
}
.bg .img {
	display:block;
    position:absolute;
    z-index:1;
    background:transparent url(../images/img-landing-2400.jpg) center center no-repeat;
    background-size:cover;

    background-position:50% 50%;	
}
*/
   
#homehero .herocontent {
	position:relative;
	padding:5% 5% 10%;
	width:100%;
	background:#231f20;
	margin-top: 5%;
    }

#homehero .herocontent h3 {   
	color:#fff; 
	font-size:14px;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;	
	letter-spacing: 2px;
	margin:0 0 10px;
	}
	
#homehero .herocontent .sectionintro {   
	color:#fff; 
	font-size:18px;
	line-height: 28px;
	font-family: "HelveticaNeueW01-UltLt",sans-serif;
	text-transform:uppercase;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: 99;
	}



	
/* Content
----------------------------------------------------------------------------------------*/

#main {
	width:100%;
	background:#f8f8f8;
}


/* Projects
----------------------------------------------------------------------------------------*/

.projectslider {
	margin:0px 0 80px 0;
	}
	
.projectslider .projectheader {
	height:70px;
	}
	
.projectslider .projectheader h4 {
	padding-top:20px;
	 letter-spacing: 2px;
	 font-size:12px;
	 text-align: center;
	 font-family: "futura-pt",sans-serif;
	 font-style: normal;
	 font-weight: 400;	
	}

#projectslider {
	background:#000;
	}
	
#projectslider li {
	background:#414042;
}
	
#projectslider li:hover {
    background:url('../img/home/hover_project.png') no-repeat top 50% !important;
}
#projectslider li:nth-child(even) {
	background:#000;
}

.projectinfo {
	color:#fff;
	text-align: left;
	padding:15px;
	}	
.projectinfo .status {
	font-size:13px;
	padding-bottom:15px;
	background:url('../img/projects/div.png') no-repeat bottom left;
	text-transform: uppercase;
	}
	
.projectinfo hgroup {
	padding-top:20px;
	}
	
.projectinfo h3,
.projectinfo h4 {
 	color:#fff;
 	margin:0;
	}

.projectinfo h3 {
	font-family: "HelveticaNeueW01-UltLt",sans-serif !important;
	color:#fff !important;
	padding:0 !important;
	}

.projectinfo h4 {
	font-size:12px !important;
	letter-spacing: 0.10em;
	}

	
	
/* Projects - Developments
----------------------------------------------------------------------------------------*/

#developments {
	width:100%;
	overflow:hidden;
	background:#f8f8f8;
	}
	
#developments .project  {
	width:100%;
	background:#414042;
	vertical-align: middle;
	float:left;
	margin-right:-1px;
    
	}	
	
	
#developments .project.callout {
	background:#f8f8f8;
	margin-left:1px;
	}


	
#developments .project:nth-child(even) {
	background:#000;
	}
	

#developmentcontent  {
	width:100%;
	background:#f8f8f8;
	}

.developmentinfo {
	float:right;
	background:#f8f8f8;
	text-align:center;
	width:95%;
	padding:10% 2.5%;
	}
	
.developmentinfo h2 {
	font-family: "HelveticaNeueW01-UltLt",sans-serif;
	color:#939598;
	font-size: 16px;
	line-height: 1.5;
	width:80%;
	margin:0 auto 30px;
	}
	
.developmentinfo a.btn {
	width:90%;
	padding:15px 0;
	}
	
#developments .project.callout .developmentinfo {
	width:100%;
	float:none;
	}
	
	
/* Single Development
----------------------------------------------------------------------------------------*/

#developmentslider {
	width:100%;
	height:100%;
	min-height:400px;
	}
	
#developmentslider li img,
#singledevelopment img.attachment-bigsquare {
	width:100%;
	height:auto;
	display:block;
	}
	
#developmentslider li img {
	height:100%;
	}
	
#developmentslider ul.slides {
	height:100%;
	}
	
#developmentslider ul.slides li {
	width:100%;
	height:100%; 
	min-height: 400px;
	margin:0;
	padding:0;			
	 -webkit-background-size: cover!important;
	 -moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	}
	
#singledevelopment article {
	padding:10%;
	font-size:15px;
	}

.singletitle {
	margin-bottom:40px;
	}	
	
.statusblock {
	float:left;
	margin-right:40px;
	position: relative;
	text-align: center;
	background:#231f20;
	display:block;
	color:#fff;
	width:75px;
	height:75px;
	}
	
.statusblock span {
	padding:10px 15px;
	position:absolute;
	top:20%;
	left:0;
	vertical-align: middle;
	font-size:12px;
	line-height: 1.25;
	text-align:center;
	}
	
.singletitle h1 {
	font-size:15px;
	color:#000;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;	
	letter-spacing:2px;
	margin-top:30px;	
	}
	
.listinginfo .col {
	float:left;
	width: 100%;
	}
	
.listinginfo .col h4 {
	font-size:13px;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;	
	letter-spacing:2px;
	margin-bottom:0;
	}
	
.listinginfo .col p {
	margin-top:0;
	}
	
.developmentnav {
	background:#231f20;
	color:#fff;
	padding:20px;
	}

.developmentnav a {
	color:#fff;
	text-transform: uppercase;
	font-size:12px;
	}
	
.developmentnav a:hover {
	color:#999;
	}
	
	
.developmentnav .wp-prev-next ul .prev-link a { 
	background:url('../img/projects/arrowright.png') no-repeat top right;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;	
	color: #ffffff;
	}
	
.developmentnav .wp-prev-next ul .next-link a { 
	background:url('../img/projects/arrowleft.png') no-repeat top left;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #ffffff;	
	}

/* Services
----------------------------------------------------------------------------------------*/

/*

#services-home {
	position:relative;
	min-height: 800px;
	background:url('../img/home/home-books.jpg') no-repeat;
	background-position: center center !important;
	background-size: cover;
	-webkit-background-size: cover;
	
	z-index:998;
	
	overflow:hidden;
	}
	
	
	position:relative;
	float:left;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	height:100vh;
	
	
	
*/

#services-home {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	margin-bottom:-10px;
	padding:0;
	background:transparent;	
	overflow-y:hidden;	
	margin-top: -85px;
	}
#services-home .services-header {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	height:100vh;
	}
	
.services-banner {
	display:block;
    position:absolute;
    z-index: 999;    
    min-width:100%;
    min-height:100%;
    background:transparent url('../img/home/home-books.jpg') center center no-repeat;
    background-size:cover;
    /* background position when .fullscreen-img overflows */
    background-position:50% 50%;
	}
.page-id-5 #services-home {
	background:url('../img/home/home-books.jpg') no-repeat;
	background-position: center center !important;
	background-size: cover;
	overflow:hidden;
}
	
		
.services-banner article {
	padding:15% 25% 15% 15%;
	margin-top: 20%;
	}

h2.subtitle {
	font-size:15px;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;	
	letter-spacing:2px;
	padding: 0;
	}

#service-wrapper h2.subtitle {
	padding: 0 10%;
	}
		
div.sectionintro {
	font-size:14px;
	line-height: 28px;
	font-family: "HelveticaNeueW01-Thin",sans-serif;
	color:#3b3b3b;
	text-transform:uppercase;
	}

#services-home div.sectionintro {
	margin-right: 80px;
	}	

#philosophy-home {
	background:#f8f8f8;
	}
	
#philosophy-home article {
	padding:10%;
	padding-top: 20%;
	}

#philosophy-home p.sectionintro  {
	color:#939598;
	}

#philosophy-home a.btn {
	color:#000000;
	border:1px solid #939598;
	}
	
#philosophy-home a.btn:hover {
	border:1px solid #231f20;
	}
	
	
/* Approach
----------------------------------------------------------------------------------------*/

#philosophy {
	width:100%;
	background:#f1f1f1;
	}	
	
#philosophy article,
#people article {
	padding:10%;
	}
	
#philosophy article {
	padding-top:30%;
	}
	
#people {
	width:100%;
	background:#231f20;
	}
	
#philosophy img,
#people img {
	width:100%;
	height:auto;
	}

.team {
	text-align:center;
	}
	
.team article {
	margin-top:100px;
	}
	
.team h2,
.team a.btn {
	color:#fff;
	}

.team a:hover.btn {
	color:#999;
	border: 1px solid #999;
	}

#team-wrapper {
	position: relative;
	clear: both;
}	

.persons {
	background:#f1f1f1;
	}

	
.person {
	margin-bottom:50px;
	}
.person p {
	font-size: 14px;
	line-height: 21px;
	}
.person .bold {
	font-family: "HelveticaNeue",Arial, helvetica, verdana,sans-serif;
	font-weight: 400;
	font-style: normal;
	}	
.person hgroup h2,
.person hgroup h3 {
	margin:0 0 5px;
	}
.person hgroup h3 {
	font-style: italic;
	font-size:15px;
	color:#939598;
	}
	

/* Services
----------------------------------------------------------------------------------------*/

.skrollable {
	position:fixed;
	z-index:100;
}

.skrollr-mobile .skrollable {
	position:absolute;
}

.skrollable .skrollable {
	position:absolute;
}

.skrollable .skrollable .skrollable {
	position:static;
}

#servicesnav {
	width:100%;
	padding:20px 60px 0px;
	background:#f8f8f8;
	z-index:10;
	margin-left: auto;
    margin-right: auto;
    z-index:999;
	}
	
#servicesnav ul {
	width:100%;
	list-style: none;
	text-align: center;
	padding:0;
	zoom:1;
	}
	
#servicesnav ul li {
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size:13px;
	color:#000;
	text-align:center;
	text-transform:uppercase;
	background: url('../img/services/servicesnavline.png') repeat-x 0 12px;
	display:inline-block;
	width:14%;
	margin-left:-6px;
	vertical-align: top;
	}	
	
#servicesnav ul li span {
	border:1px solid #929497;
	padding:4px 10px;
	font-size:13px;
	margin:0 0 20px;
	background:#f8f8f8;
	line-height: 0;
	}
	
#servicesnav ul li a.selected span {
	border:1px solid #000000;
	background:#000000;
	color: #ffffff;
	}		

#servicesnav ul li a.active-slide span, #servicesnav ul li a.fixed span, #servicesnav ul li a.active span, #servicesnav ul li.active a span {
	border:1px solid #000000;
	background:#000000;
	color: #ffffff;
	}	

.scrollspy-example {  
height: auto;  
overflow: auto;  
position: relative;  
}  


#servicesnav ul li .title {
	margin-top:10px;
	display:none;
	line-height: 1;
	padding:0 5px;
	font-size: 11px;
	}	
	
#service-wrapper .stickem {
	position:absolute;
	z-index:999;
}
	
#service-wrapper .stickem.stickit {
	position: fixed;
	top: 50px;
}
	
#service-wrapper .stickem.stickit-end {
	position: absolute;
	right: 0;
}



#services {
	position: relative;
}


.service {
	position:relative;
	background:url('../img/services/servicesline.png') repeat-y 50%;
	overflow: hidden;
	width:100%;
	height:1000px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	

.service .row {
	position: fixed;
	top: 25%;
	width:100%;
	}
	
.service .col {
	padding: 0 10%;
	-webkit-transition: -webkit-transform .5s, opacity .5s;
	-moz-transition: -moz-transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s;
	}
	
.service .col {
	opacity:0;
	}


.cbp-so-init .col.icons {
	-webkit-transform: translateX(-150px);
	-moz-transform: translateX(-2150px);
	transform: translateX(-150px);
}


/* Animated state */
.cbp-so-section.cbp-so-animate .col.icons {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	transition-delay: 0.3s;
	opacity: 1;
}

	
.service .col.icons {
	text-align:center;
	padding-top:3%;

	}
	
.service .col.icons img {
	margin-bottom:10px;
	}
	
.service .serviceinfo {
	width:100%;
	border:1px solid transparent;
	display:block;
	}
	
.service .serviceinfo p {
	padding:0 10%;
	color: #666;
	font-family: "HelveticaNeueW01-Thin",sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased !important;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: 99;
	}


.service .number {
	position:fixed;
	margin-bottom:auto;
	left:50%;
	border:1px solid #929497;
	margin-left:-32px;
	width:66px;
	height:66px;
	}

.service .number h3 {
	padding-top:10px;
	font-size:35px;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;
	margin:0;
	text-align:center;
	color:#000;
	width:64px;
	height:64px;
	background:#f8f8f8;
	}

.service.service1 .number h3 {background:#f8f8f8}	
.service.service2 .number h3 {background:#f1f1f1}
.service.service3 .number h3 {background:#ebeced}
.service.service4 .number h3 {background:#e4e5e6}
.service.service5 .number h3 {background:#dedfe0}
.service.service6 .number h3 {background:#d8d9db}
.service.service7 .number h3 {background:#d1d3d4}


#services-bottom {
	position:relative;
	z-index:998;
	width:100%;
	background:#f8f8f8;
	}


.services-bottom-info {
	background:#f8f8f8;
	text-align:center;
	width:95%;
	padding:10% 2.5% 5% 2.5%;
	margin:0 auto;
	}
	
.services-bottom-info h2 {
	font-family: "HelveticaNeueW01-UltLt",sans-serif;
	color:#000;
	font-size: 16px;
	line-height: 1.5;
	width:80%;
	margin:0 auto 50px;
	}
	
.services-bottom-info p {
	text-transform:uppercase;
	color:#000;
	line-height: 1.75;
	font-size:14px;
	font-family: "HelveticaNeueW01-UltLt",sans-serif;
	padding-bottom:25px;
	}
	
	
	

/* Contact
----------------------------------------------------------------------------------------*/

#contactmap {
	width:100%;
	min-height:300px;
	}
	
.gmnoprint img {
    max-width: none; 
}

#contact {
	background:#f2f2f2;
	}

#contact article {
	padding:10%;
	font-size:14px;
	}
	
#contact img {
	width:100%;
	height:auto;
	}	

#contact p {
	color: #666;
	font-family: "HelveticaNeueW01-Thin",sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased !important;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: 99;
	}	

/* Filter
----------------------------------------------------------------------------------------*/

#filter {
	background:#231f20;
	color:#fff;
	padding:25px;
	position:relative;
	font-family: "futura-pt",sans-serif;
	font-weight: normal;
	font-weight: 500;	
	letter-spacing: 2px;	
	}
	
#filter p {
	text-transform:uppercase;
	margin:0;
	}
	
#filter ul#filters {
	position:absolute;
	right:15px;
	top:5%;
	list-style: none;
	}
	
#filter ul#filters li {
	display: inline-block;
	margin-left:0;
	margin-bottom:5px;
	font-size:12px;
	font-weight: 300;
	text-transform: uppercase;	
	line-height: 1.25;
	}
	
#filter ul#filters li a {
	color:#fff;
	}
	
#filter ul#filters li a.selected {
	color:#fff;
	}
	
#filter ul#filters li a span {float:left;margin-right:7px;width: 15px; height: 15px; display: block; border:1px solid #fff; background: none; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
#filter ul#filters li a.selected span,
#filter ul#filters li a:hover span { 
  background-size: 20px 20px;
  background-image: -webkit-repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
  background-image: -moz-repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
  background-image: -o-repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
  background-image: repeating-linear-gradient(45deg, white, white 1px, transparent 1px, transparent 14px);
}

	
	
#options {
	float:right;
	}
	
#blogposts,
#singleposts {
	background:#f8f8f8;
	font-size:13px;
	}

#blogposts .post.featurepost {
	position:relative;
	vertical-align: middle;
	overflow: hidden;
	display:block;
	}
	
#blogposts .featurecontent {
	position:absolute;
	max-width:400px;
	max-height:400px;
	bottom: 25%;
	left:25%;
	top:25%;
	right:25%;
	background:#231f20;
	background-color: rgba(35, 31, 32, .9);
	color:#fff;
	}
	
	
#blogposts .post {
	width:100%;
	background:#f8f8f8;
	vertical-align: middle;
	float:left;
	vertical-align: top;
	overflow: hidden;
	color:#000;
	}
	
#blogposts .postimg {
	position:relative;
	width:50%;
	float:left;
	background:#f8f8f8;
	}
	
#blogposts .postpreview {
	width:50%;
	float:left;
	padding:10% 5%;
	text-align: center;
	text-transform:uppercase;
	line-height: 1.25;
	font-family: "HelveticaNeueW01-Thin",sans-serif;
	font-size:12px;
	margin:0;
	display:block;
	}
	

#blogposts .featurecontent {
	width:50%;
	float:left;
	padding:10% 5%;
	text-align: center;
	text-transform:uppercase;
	line-height: 1.25;
	font-family: "HelveticaNeueW01-Thin",sans-serif;
	font-size:12px;
	margin:0;
	display:block;
	}

.postpreview p.readmore {
	position:absolute;
	bottom:20px;
	width:40%;
	text-align:center;
	}	
	
#blogposts .postpreview h5,
#blogposts .featurecontent h5 {
	font-family: "HelveticaNeueW01-UltLt",sans-serif;
	font-size:14px;
	margin:0 0 10px;
	}
	
#blogposts .featurecontent h5,
#blogposts .featurecontent a {
	color:#fff;
	}
	
#blogposts .postpreview h5,
#blogposts .postpreview a {
	color:#000;
	}
	
#blogposts .postpreview p.excerpt,
#blogposts .featurecontent p.excerpt {
	display:none;
	}
	
.overlayarrow {
	position: absolute;
	height: 15px;
	right: 0;
	bottom: 49%;
	width: 20px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #f8f8f8;
}



#blogposts .isotope-item:nth-child(even) .overlayarrow {
	left: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #f8f8f8;
	border-right: none;
}


#blogposts article {
	position:relative;
	padding:10%;
	}
	
#blogposts .isotope-item:nth-child(odd) .postimg {
	float:left;
	}
	
#blogposts .isotope-item:nth-child(even) .postimg {
	float:right;
	}


.blogheader {
	margin-bottom:50px;
	}	

.blogheader p {
	margin:0;
	}	
	
.blogheader p.blogdate {
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;
	color:#000;
	text-transform:uppercase;
	}
	
.blogheader p.blogauthor {
	color:#939598;
	}
	
.post-content h2 {
	color:#939598;
	font-size:24px;
	line-height: 1.5;
	margin-top:0;
	}
	
#singleposts article {
	position:relative;
	padding:10%;
	margin-bottom:75px;
	}

#singleposts .col {
	position:relative;
	}
	
#singleposts img {
	width:100%;
	height:auto;
	}
	
#singleposts .singlenav {
	margin-top:50px;
	position:absolute;
	bottom:0;
	padding:10%;
	width:100%;
	}
	
.wp-prev-next ul {
	clear:all;
	padding:0;
	}
	
.prev-link {
	float:left;
	}
	
.next-link {
	float:right;
	}
	
.wp-prev-next ul {
	position:relative;
	}
	
.wp-prev-next ul a  { 
	display: block; 
	width: 60px; 
	height: 60px;
	margin:-30px 0 0; 
	position: absolute; 
	top: 0; 
	opacity: .5; 
	cursor: pointer;
	overflow:hidden;
	text-indent:-9999px;
	}
	
.wp-prev-next ul .prev-link a { 
	right: 0px;
	background:url('../img/blog/arrowright-grey.png') no-repeat top right;
	padding-right:50px;
	padding-top:20px;
	}
	
.wp-prev-next ul .next-link a { 
	left: 0px; 
	background:url('../img/blog/arrowleft-grey.png') no-repeat top left;
	padding-left:50px;
	padding-top:20px; 
	}
	
.wp-prev-next ul .next-link a,
.wp-prev-next ul .prev-link a  {
	opacity: 0.7;
	}
.wp-prev-next ul .next-link a:hover, 
.wp-prev-next ul .prev-link  a:hover { 
	opacity: 1; 
	}
	

/* Buttons
----------------------------------------------------------------------------------------*/

a.btn {
	color: #231f20;
	border:1px solid #b5b5b4;
	text-transform:uppercase;
	padding:15px 30px;
	display:inline-block;
	margin-top:15px;
	font-size:13px;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;	
	letter-spacing:2px;
	text-align:center;
	}
	
a.btn:hover {
	border:1px solid #231f20;
	}

	

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-item img {
	width: 100%;
	height:auto;
	}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}



/* Footer
----------------------------------------------------------------------------------------*/

#footer {
	position:relative;
	text-align:left;
    bottom:0px;
    background:#fff;
	color:#000;
	margin:0 auto;
	font-size:13px;
	line-height: 1.25;
	text-align:left;
	width:100%;
}

#footer .row {
	padding:10px 25px 0px 25px;
}

#footer a { 
	color:#000;
}

#footer a:hover {
	color: #333;
	}

#footer ul.social  {
	list-style:none;
	padding:0;
	margin:0;
	}
	
#footer ul.social li.socialicon {
	float:left;
	width:36px;
	height:36px;
	overflow:hidden;
	text-indent:-9999px;
	opacity:.8;
	margin-right:6px;
	border:1px solid #000;
	border-radius:20px;
	padding:5px;
	}
	
#footer ul.social li a {
	width:36px;
	height:36px;
	display:block;
	}
	
#footer ul.social li.socialicon:hover {
	opacity:1;
	}
	
#footer ul.social li.facebook {
	background:url('../img/footer/facebook.png')no-repeat 50% 50%;
	}
#footer ul.social li.twitter {
	background:url('../img/footer/twitter.png')no-repeat 50% 50%;
	}
				
#footer nav ul {
	text-align: right; 
}

#footer nav li {
    width: auto;
    border-bottom:none;
    display: inline-block;
	margin: 0 0 0 1em;
	zoom:1; 
	*display:inline;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
  }
  
#footer nav a {
  	color:#231f20;
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    border-bottom: 0;
  }
  
#footer nav a:hover {
  color:#666;
  background:none;
}

#mti_wfs_colophon {
	display:none !important;
	}
	

/* Fancybox
----------------------------------------------------------------------------------------*/	

 .fancybox-type-iframe .fancybox-nav {
    width: 60px;       
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 1;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 0.8;
}

.fancybox-type-iframe .fancybox-next {
    right: 0;
}

.fancybox-type-iframe .fancybox-prev {
    left: 0;
}

.fancybox-close {
top: 0;
right: 0;
width: 62px;
height: 62px;
display: none;
}

.fancybox-wrap, .fancybox-inner, .fancybox-outer, .fancybox-iframe, .fancybox-iframe body, .fancybox-iframe html { background-color: #ffffff !important; }

.fancybox-nav span {
width: 72px;
height: 72px;
display: none;
}

.fancybox-prev span {
left: 0;
background-position: 0 -72px;
}

.fancybox-next span {
right: 0;
background-position: 0 -144px;
}

#fancybox-loading {
	background-position: 0 -215px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
	
@media all and (min-width: 768px) {

#container {
    padding-top:95px;
	}

.header-container header {
	padding:15px 10px 15px 15px;
	}
	
.header-container.shrink header {
	padding:0 10px 0 0;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    transition: all 1.3s;
	}

#logo {
	float:left;
	width:15%;
	}
	
#logo img {
	width: 75px;
	height: auto;
	}
	
.header-container.shrink #logo img {
	width: 70px;
	height: auto;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    transition: all 1.3s;
	}
	
#address {
	opacity:1;
	display:block;
	}

.header-container.shrink #address {
	/* opacity:0;
	display:none; */
	margin-top: -18px;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    transition: all 1.3s;
	}	

.col {
    padding:0;
    }
    

.span_1 {
    width:25%;
    }

.span_2 {
    width:50%;
    }

.span_3 {
    width:75%;
    }
        
.span_4 {
    margin-left:0;
    width:100%;
    }
    
.listinginfo .col {
	width: 31.5%;
	margin-right:1.5%;
	}

#homehero .herocontent {
	position:relative;
	z-index:2;

	padding:15% 0 5% 5%;
	width:50%;
	background:none;
    }

#homehero .herocontent h3 {   
	margin:0 0 20px;
	font-size:20px;
	}
	
#homehero .herocontent .sectionintro {   
	color:#fff; 
	font-size:28px;
	line-height: 50px;
	}

#services-home article {
	padding:15% 0 15% 15%;
	}
	
div.sectionintro {
	font-size:22px;
	line-height: 40px;
	}
	
.projectinfo {
	min-height: 120px;
	}
.projectinfo h3 {
	font-size:18px !important;
	padding:0 !important;
	}	
#developments .project  {
	width:25%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;        
	}
	
#developments .project.callout {
	width:48.5%;
	}
	
.developmentinfo {
	width:45%;
	}

.wp-prev-next ul a  { 
	width: auto; 
	overflow:auto;
	text-indent:0;
	}
	
	
#servicesnav ul li .title {
	display:block;
	}
	
.service .serviceinfo {
	position:absolute;
	width:40%;
	right:5%;
	}
	
.service {
	padding:300px 0;
	}	

.service .number {
	position:fixed;
	top:50%;
	}
	
.service .row {
	position: fixed;
	top: 45%;
	width:100%;
	}
	
.service.service1 .col,
.service.service2 .col,
.service.service3 .col,
.service.service4 .col,
.service.service5 .col,
.service.service6 .col,
.service.service7 .col {
	background:none;
	}
		
.services-bottom-info {
	width:50%;
	}
	
.services-bottom-info h2 {
	font-size: 32px;
	}
	
.services-bottom-info p {
	font-size:24px;
	}
	
#team-wrapper .stickem {
	position:absolute;
	float: left;
	z-index: 999;
}
	
#team-wrapper .stickem.stickit {
	position: fixed;
	top: 70px;
	/* left: 0;
	margin-left: 0; */
	color: #939598;
}

#team-wrapper .stickem.stickit-end {

}
		
.persons {
	min-height:600px;
	/* overflow: scroll; */
	background:#f1f1f1;
	left: 50%;
	position: relative;
	float: left;
	}

	
	
#contactmap {
	height:100%;
	min-height:770px;
	}

#filter ul#filters {
	top:10%;
	}
		
#filter ul#filters li {
	display: inline-block;
	zoom: 1;
	margin-left:15px;
	font-size:12px;
	}

	
#blogposts .post {
	width:49.9999%;
	}
	
#blogposts .postpreview p.excerpt,
#blogposts .featurecontent p.excerpt {
	display:block;
	font-size:15px;
	font-weight: 300;
	}
	
#blogposts .postpreview h5,
#blogposts .featurecontent h5 {
	font-size:20px;
	font-weight: 300;
	}
			
	
#blogposts .isotope-item:nth-child(5) .postimg,
#blogposts .isotope-item:nth-child(9) .postimg,
#blogposts .isotope-item:nth-child(13) .postimg {
	float:right;
	}
	
#blogposts .isotope-item:nth-child(5) .overlayarrow,
#blogposts .isotope-item:nth-child(9) .overlayarrow,
#blogposts .isotope-item:nth-child(13) .overlayarrow {
	left: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #f8f8f8;
	border-right: none;
	}
	
#blogposts .isotope-item:nth-child(6) .overlayarrow,
#blogposts .isotope-item:nth-child(10) .overlayarrow,
#blogposts .isotope-item:nth-child(14) .overlayarrow {
	right: 0 !important;
	left: auto;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #f8f8f8;
	border-left: none;
	}


#blogposts .isotope-item:nth-child(6) .postimg,
#blogposts .isotope-item:nth-child(7) .postimg,
#blogposts .isotope-item:nth-child(10) .postimg,
#blogposts .isotope-item:nth-child(14) .postimg {
	float:left;
	}
	
	


}

@media all and (max-width: 480px) {

#filter {
	display: none;	
	}
#footer nav ul {
	margin-top: 0;
	}
#footer nav li {
	float: right;
	}
#philosophy-home article, #philosophy article, .team article {
	padding-top: 10%;
	}
.team article {
	margin-top: 0;
	}				
}

@media all and (max-width: 768px) {

#filter {
	height: 60px;	
	}

#filter p {
	display: none;
	}
	
#homehero .herocontent {
	position:relative;
	padding:15% 10% 5% 10%;
	width:100%;
	background:#231f20;
	margin-top: 72px;
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
    }

#homehero .herocontent h3 {   
	color:#fff; 
	font-size:14px;
	font-family: "futura-pt",sans-serif;
	font-style: normal;
	font-weight: 500;	
	letter-spacing: 2px;
	margin:0 0 10px;
	}
	
#homehero .herocontent .sectionintro {   
	color:#fff; 
	font-size:11px;
	line-height: 17px;
	font-family: "HelveticaNeue",Arial, helvetica, verdana,sans-serif;
	font-weight: 300;
	text-transform:uppercase;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	opacity: 99;
	min-height: 105px;
	}
	
#homehero {
 	position:relative;
  	margin-bottom:0;
  	width:100%;
  	height:100%;
    }

#homehero .slides {
	width:100%;
	height:100%;
	max-height:520px;
    }
    
#homehero .slides li {
	width:100%;
	height:100%!important; 
	min-height:420px;
	margin:0;padding:0;			
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	}

.projectinfo h3 {
	font-size:12px !important;
	padding:0 !important;
	}
	
#services-home, .page-id-5 #services-home {
	background: none !important;
	background-color: #f8f8f8;
	min-height: 550px !important;
	}
	
.services-banner {
	background:url('../img/services/services-banner-bg.png') no-repeat;
	background-color: #f8f8f8;
	min-height: 550px !important;
	height: 100vh;
	}
	
#services-home article {
	padding: 10%;
	}
	
#services-home div.sectionintro {
	margin-right: 0;
	}

.service {
	background: none;
	}
	
#footer .col {
	width: 40%;
	}
#footer .span_r.col {
	width: 60%;
	}
#footer nav li {
	margin: 0;
	letter-spacing: 1px;
	}	
				
}



@media only screen and (min-width:769px) and (max-width:900px) {

#address {
  font-size:11px;
   letter-spacing: 1.5px;
}

}


@media all and (min-width: 769px) and (max-width: 1000px) {

#developments .project  {
	width:33.3333%;     
	}
	
.developmentinfo {
	float:none;
	width:95%;
	}

}

@media only screen and (min-width:1201px) and (max-width:1650px) {

.services-bottom-info {
	width: 75%;
	} 

}

@media only screen and (min-width:769px) and (max-width:1350px) {

.projectinfo h3 {
	font-size:12px !important;
	padding:0 !important;
	}
	
}

@media only screen and (min-width:768px) and (max-width:1200px) {

.services-bottom-info {
	width: 75%;
	} 
.services-bottom-info p {
	font-size: 20px;
	}
	
#homehero .herocontent h3 {   
	font-size:16px;
	}
	
#homehero .herocontent .sectionintro {   
	font-size:18px;
	line-height: 30px;
	}
	
#philosophy article p {
	font-size: 11px;
	line-height: 16px;
	}

#philosophy .btn {
	display: none;
	}	
}
	
@media only screen and (min-width:768px) and (max-width:900px) {
	
.projectinfo {
	min-height: 130px;
	}
.projectinfo h3 {
	font-size:14px !important;
	padding:0 !important;
	}		
#blogposts .postpreview p.excerpt,
#blogposts .featurecontent p.excerpt {
	display:none;
	}
	
.listinginfo .col {
	width: 100%;
	margin-right:0;
	}
	
}

@media all and (min-width: 900px) and (max-width: 1200px) {
 
.listinginfo .col {
	width: 48.5%;
	margin-right:1.5%;
	}
	
}


@media only screen and (min-width:769px) and (max-width:1400px) {

#philosophy-home article,
#philosophy article,
#people article {
	padding:10%;
	}
	
div.sectionintro {
	font-size:16px;
	line-height: 32px;
	}

}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

.projectinfo .status {
	background:url('../img/projects/div@2x.png') no-repeat bottom left
	background-size: 1px 53px;
	}
	
#footer .social li.facebook {
	background:url('../img/icons/facebook@2x.png')no-repeat;
	background-size: 40px 40px;
	}
#footer .social li.twitter {
	background:url('../img/icons/twitter@2x.png')no-repeat;
	background-size: 40px 40px;
	}
	
#servicesnav ul {
	/* background:#f8f8f8 url('../img/services/servicesnavline@2x.png') repeat-x 50%; */
	background-size: 5px 1px;
	}


}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


.invisible {
    visibility: hidden;
}

/*
 * Clearfix
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
