


.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}


#nav,
#nav * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#nav-wrapper {
  width: 100%;
}


#nav {
  list-style: none;
  float: right;
  margin:0;
  padding:0;
  background:#231f20;
  width: 100%;
}

#nav ul {
  list-style: none;
  margin:0;
  padding:0;
}


#nav li {
  height:auto;
  text-align:right;
}


#nav a {
font-family: "futura-pt",sans-serif;
font-style: normal;
font-weight: 400;
  display:block;
  color: #ffffff;
  text-decoration: none;
  padding: .5em 1em;
  font-size:12px;
  text-transform:uppercase;
   letter-spacing: 2px;
}

#nav a:hover {
  color: #ffffff;
  background:#333333;
}

#nav ul li ul li {
	border:none;
}

#nav ul li ul li a {
  padding: .25em 1em;
  font-size:1em;
}






@media screen and (min-width: 768px) {

.js #nav {
  overflow: visible;
}

#nav-wrapper {
  width: 85%;
   float: right;
   max-height: 40px;
}

#nav {
 float: right;
 background:none;
 padding:0px 0 0 0;
 margin:0px 0 0;
}

#nav ul {
	text-align: right; 
	margin:0;
	padding:0;
}

  #nav li {
    width: auto;
    border-bottom:none;
    display: inline-block;
	margin: 0 0 0 1em;
	padding: 3px 0 15px;
	zoom:1; 
	*display:inline;
	border-bottom:3px solid rgba(255,255,255,0.0);
  }
  
#nav li.current-menu-item,
#nav li.current_page_parent,
.single-projects #nav li.menu-item-27 {
	border-bottom:3px solid #231f20;
  }
  
  #nav a {
  	color:#231f20;
    margin: 0;
    padding: .5em 0 0 0;
    float: right;
    text-align: center;
    border-bottom: 0;
  }
  
  #nav a:hover {
  color:#666;
  background:none;
}


 #nav li.active {
	border-bottom:2px solid #577587;
	}
	
 #nav li.active > a {
	color: #363636;
	margin-bottom:-2px;
	}

  #nav ul ul a {
    display: none;
  }

#nav ul li {
	position:relative;
	}  
  
#nav ul li ul {
	display: none;
	background:#636363;
	margin: 0;
	padding:0;
	position: absolute;
	left: -14px;
	top:49px;
	text-align:left;
	z-index: 99999;
	clear:both;
}

#nav ul li ul li {
	display: block;
	position: relative;
	margin:0;
	padding:0;
}

#nav ul li ul li a {
  padding: .5em 1em;
  font-size:1em;	
}
#nav ul li ul a {
	color: #000000;
	padding:3px;
	width: 168px;
	display:block;
	text-align: left;
   font-size:1em;
}


#nav ul li ul li:hover > a,
#nav ul li ul li a:focus,
#nav ul li ul li.current-menu-item a,
#nav li.current-menu-item a ul li a {
	color:#fff;
	background:#3d393a;
	border-top:none;
}
#nav ul li:hover > ul {
	display: block;
}	


  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }


}

@media only screen and (min-width:768px) and (max-width:900px) {
  #nav li {
	margin: 5px 0 0 .75em;
  }

#nav a {
  font-size:11px;
   letter-spacing: 1px;
   padding: 0;
}

}


#nav-toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0 1em;
  width: 40px;
  height: 40px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../img/elements/navicon.png") no-repeat;
  z-index: 9999;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  #nav-toggle {
    background-image: url("../img/elements/navicon.png");
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
    margin-top: 5px;
  }
}




