[data-pid="198"] {
	color: $white;
	margin: $gutter*2 0;
	padding: $gutter/2;
	background: url(/themes/custom/mla_theme/images/mla-mid-year-review.jpg) no-repeat center / auto 100%;
	@include media($tablet-size) {
		// padding: $gutter;
		background-position: center left;
		background-size: cover;
    }

    > div:not(.contextual) {
        text-align: center;
        border: 1px solid $white;
        box-sizing: border-box;
        padding: $gutter/2;
        @include media($tablet-size) {
            padding: $gutter*2 $gutter;
        }

        > div {
            display: block;
            box-sizing: border-box;
            @include media($desktop-size) {
                max-width: 500px;
            }
        }
    }

    input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
		border-color: $white;
	}
	input[type="submit"] {
		background: none;
		border: none;
		margin: $gutter/2 5px;
		display: inline-block;
	}
	.submit-btn {
		display: inline-block;
		&:before, &:after {
			content: '\2022';
			font-size: 2.5em;
		}
	}
}
