$play-h: 60px;
$play-w: 161px;

.video-container, #drupal-modal > .video-wrapper {
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 

	.title {
		position: absolute;
		bottom: $gutter/4;
		left: $gutter/4;
		z-index: 2;
		text-transform: uppercase;
		font-weight: $heading-medium-weight;
		margin-bottom: 0;
		@include media($massive-size) {
			font-size: 7.5em;
			max-width: 800px;
		}
	}	


	iframe, object, embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%;
		z-index: 1;
	}
}

.video-button.use-ajax {
	position: relative;
	outline: none;
}

.video-button.use-ajax {
	&:before, &:after {
		display: block;
		height: $play-h;
		position: absolute;
		top: 15px;
		right: 15px;
		border: 1px solid $black;
		border-radius: 50px;
		line-height: 1.2;
		.inverted & {
			border-color: $white;
		}
	}
	&:before {
		content: '';
		width: $play-h;
		background: url(../images/play-play-white.svg) no-repeat center / $play-h auto;
	}
	&:after {
		width: $play-w;
		content: 'Watch \A Video';
		white-space: pre;
		@include caps();
		font-size: $base-font-size;
		padding: 15px 10px 0 25px
	}

	@include media(max-width $tablet-size) {
		margin-bottom: $gutter/2;
	}
}

.watch-video-button {
	display: inline-block;
	border: 1px solid $black;
	border-radius: 50px;
	position: relative;
    vertical-align: middle;
    line-height: 0;
	font-size: $base-font-size;
	height: $play-h + 1px;
	margin-right: $gutter/2;
	width: $play-w;

	@include media($massive-size) {
		top: -9px;
	}

	.inverted & {
		border-color: $white;
	}


	.caps {
		@include caps();
	    line-height: 1;
	    max-width: 100px;
	    display: inline-block;
	    vertical-align: middle;
	    padding: 0 30px;
	    position: relative;
    	padding: 0 10px 0 25px;
    	margin-right: -5px;
    	margin-top: -53px;
	}

	.symbol {
		border: 1px solid $black;
		border-radius: 50px;
		display: inline-block;
		height: $play-h + 1px;
		width: $play-h + 1px;
		margin: -1px -1px -1px 0;
		cursor: pointer;

		.inverted & {
			border-color: $white;
		}

		svg {
			width: $play-h;
			height: auto;
			display: inline-block;
			position: relative;
			padding: 5px;
    		top: -1px;
    		left: -1px;
			path {
				fill: $black;

				.inverted & {
					fill: $white;
				}
			}
		}
	}
}

.vimeo-modal {
	@include transition(all $effect $eta);
	display: none;
	outline: none;
	@include media($tablet-size) {
		display: none;
	}

	&.js-ready {
		@include media(max-width $tablet-size) {
			display: block;
		}
		padding-top: 56.2%;
		height: 0;
		position: relative;
		background: no-repeat center / cover;
			
		.h1 {
			position: absolute;
			padding: $gutter/4;
			bottom: 0;
			left: 0;
			z-index: 2;
			text-transform: uppercase;
			font-weight: $heading-medium-weight;
			margin-bottom: 0;
			@include media($massive-size) {
				font-size: 7.5em;
				max-width: 800px;
			}
		}
	}
}