<span class="watch-video-button">
    <span class="caps">
    	{% if title is defined %}
    		{{ title }}
    	{% else %}
    		Watch Video
    	{% endif %}
	</span>
    <span class="symbol">{% include active_theme_path() ~ '/images/play.svg' %}</span>
</span>