$mobile-size: 560px;
$tablet-size: 720px;
$desktop-size: 960px;
$massive-size: 1400px;
$max-width: 1400px;
$inner-max-width: 525px;

$mobile-screen-up: new-breakpoint(min-width $mobile-size 2);
$tablet-screen-up: new-breakpoint(min-width $tablet-size 4);
$desktop-screen-up: new-breakpoint(min-width $desktop-size 8);
$massive-screen-up: new-breakpoint(min-width $massive-size 12);