// Color definitions
$white: #fff;
$black: #010101;
$blue-grey: rgb(44, 47, 50);
$light-gray: #e2e2e2;
$red: #be2d2a;
$dark-grey: rgb(48, 48, 48);
$medium-gray: #cccccc;
$gray-metadata: lighten($black, 50%);
// $social-gray: #888A8D;
// $social-gray-hover: darken($social-gray, 10%);
// $tan-gray: rgb(219,217,214);
// $dark-gray: #5c6670 !default;
// $medium-gray: #5a6771 !default;
// $medium-light-gray: #8a8a8d !default;
// $light-gray: #bac0c4 !default;

// Base colors.
$base-font-color: $black !default;
$base-border-color: $black !default;
$base-accent-color: lighten($black,10%) !default;
$base-link-color: $base-accent-color !default;
$action-color: $black;

// Border
$base-border: 1px solid $base-border-color;

// Background
$base-background-color: white !default;
$secondary-background-color: tint($base-border-color, 75%);

// Table colors.
$table-border-color: $base-border-color;
$table-background: $base-background-color;
$table-header-background: lighten($table-background, 10);
$table-hover-background: darken($table-background, 2);
$table-stripe-background: darken($table-background, 4);
$table-stripe-background-hover: darken($table-stripe-background, 5);

// Tasks colors.
$tab-link-color: $black;
$tab-active-background: $base-background-color;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: silver;

// Messages colors.
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

// Breadcrumb colors.
$breadcrumb-border-color: $base-border-color;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $black;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;

// Flexbox colors.
$flex-box-border-color: $black;
$flex-box-background: $white;
$flex-box-color: transparentize($base-font-color, 0.3);
$flex-box-top-colors: tomato, #72BFBF, #92B1E3, #E3D743, #CCC,#F6C05C;

// Footer colors.
$footer-background: $black;
$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.35);

// Hero colors.
$hero-color: white;
