// Typography
$base-font-family: 'montserratlight', helvetica, arial, sans-serif;
$base-font-bold-family: 'montserratregular', helvetica, arial, sans-serif;
$heading-bold-family: 'Butler', helvetica, arial, sans-serif;
$heading-bold-weight: 500;
$heading-medium-family: 'Butler', helvetica, arial, sans-serif;
$heading-medium-weight: 400;
$heading-family: 'Butler', helvetica, arial, sans-serif;
$heading-weight: 300;

// Font Sizes
$base-font-size: 13px;

// Weight
$base-font-weight-thin: 200;
$base-font-weight: 300;
$base-font-weight-semibold: 500;
$base-font-weight-bold: 600;
$letter-spacing-wide: 0.15em;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.125;

@mixin h1 {
  line-height: $heading-line-height;
  margin: 0.5em 0;
  font-size: 3.75em;
  @include media($tablet-size) {
    font-size: 4.95em;
  }
}

@mixin h2 {
  line-height: $heading-line-height;
  margin: $small-spacing 0;
  font-size: 3.25em;
  @include media($tablet-size) {
    font-size: 4.1875em;
  }
}
@mixin h3 {
  line-height: 1em;
  margin: $small-spacing 0;
  font-size: 2.5em;
  @include media($tablet-size) {
    font-size: 4em;
  }
}

@mixin h4 {
  line-height: 1em;
  margin: $small-spacing 0;
  font-size: 2.25em;
  @include media($tablet-size) {
    font-size: 3.75em;
  }
}
@mixin h5 {
  line-height: $heading-line-height;
  margin: $small-spacing 0;
  text-transform: uppercase;
  font-size: 30px;
  @include media($tablet-size) {
    font-size: 35px;
  }

}
@mixin h6 {
  // line-height: $heading-line-height;
  // margin: $small-spacing 0;
  // font-size: 1.5em;
  // @include media($tablet-size) {
  //   font-size: 2.5em;
  // }
  // @include caps();
  font-family: $base-font-family;
  line-height: $heading-line-height;
  text-transform: uppercase;
  font-size: 13px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 700;
}