@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &::-ms-input-placeholder      {@content}
}

@mixin bkg-gradient() {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30%;
	@include background(linear-gradient(rgba($blue-grey,0),rgba($blue-grey,0.65)));
	display: block;
	pointer-events: none;
}

@mixin arrow-down($hover: false) {
	position: relative;

	&:after, &:before {
		@include transition(
			border-width $effect $eta
		);
		content:'';
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		border-left: solid 15px transparent;
		border-right: solid 15px transparent;
	}
	&:after {
		top: 100%;
		border-top: solid 0px $white;
		@include transform(translateY(-1px));
	}
	&:before {
		top: 100%;
		border-top: solid 0px $black;
	}


	&:hover {
		&:after {
			border-top-width: 7px;
		}
		&:before {
			border-top-width: 7px;
		}
	}
	&.is-active {
		&:after {
			border-top-width: 10px;
		}
		&:before {
			border-top-width: 10px;
		}
	}
}

@mixin arrow-down-fixed() {
	position: relative;

	&:after, &:before {
		@include transition(
			border-width $effect $eta,
			border-color $effect $eta
		);
		content:'';
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		border-left: solid 15px transparent;
		border-right: solid 15px transparent;
		top: 100%;
	}
	&:after {
		@include transform(translateY(-1px));
		border-top: solid 10px $white;
	}
	&:before {
		border-top: solid 10px $black;
	}


	&:hover {
		&:after {
			border-top: solid 10px $black;
		}
	}
	// 	&:after {
	// 		border-top-width: 7px;
	// 	}
	// 	&:before {
	// 		border-top-width: 7px;
	// 	}
	// }
	// &.is-active {
		// &:after {
		// }
		// &:before {
		// 	border-top-width: 10px;
		// }
	// }
}

@mixin hover() {
	&:hover, &:focus, &:active {
		@content;
	}
}

@mixin caps() {
	font-family: $base-font-bold-family;
	letter-spacing: $letter-spacing-wide;
	text-transform: uppercase;
}

@mixin smooth-scroll() {
	-webkit-overflow-scrolling: touch;
}

@mixin burst-out() {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

@mixin submit-dots() {
	display: inline-block;
	&:before, &:after {
		content: '\2022';
		font-size: 25px;
	}

	input, button {
		@include h5();
		font-family: $heading-bold-family;
		font-weight: $heading-bold-weight;
		letter-spacing: 0;
		line-height: 1;
		background: none;
		border: none;
		margin: $gutter/2 5px;
		display: inline-block;
		padding: 0;
	}
}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

@mixin top-drupal-header($add: 0px, $prefix: '', $suffix: '') {
  #{$prefix}.toolbar-fixed#{$suffix} & {
    top: #{$drupal-header + $add};
  }
  #{$prefix}.toolbar-horizontal.toolbar-fixed.toolbar-tray-open#{$suffix} & {
    top: #{$drupal-header + $drupal-toolbar + $add};
  }
}

@mixin first-last {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
