$h-pad: 30px;
$w-pad: 30px;

$gutter: 2.1875em !default;
// $gutter: 35px !default;
$gutter-inner: 60px;

$all-buttons: '.btn, .button';

// Other Sizes
$base-border-radius: 10px;
$base-spacing: 2em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Animations
$base-duration: 0.3s;
$base-effect: ease-out;
$eta: $base-duration;
$effect: $base-effect;
$border-grow-effect: width $effect 2s;

$ribbon-pad: 10px;
$border-thick: 8px;
$row-spacing-mobile: $gutter;
$row-spacing: 140px;

$drupal-header: 39px;
$drupal-toolbar: 39px;
