.view-id-dream_team{
  .view-content{
    @include row();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .views-row{
    margin: 0 5px 3px 5px;
    max-width: 155px;
  }
}