.news-view-teaser {
	@include clearfix();
	@include media($tablet-size) {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: -$gutter;
		margin-right: -$gutter;
	}
	> .view-header .views-row {
		@include media($tablet-size) {
			margin: $gutter;
		}
	}
	> .attachment .views-row {
		@include media($tablet-size) {
			margin: $gutter;
		}
	}
	> .view-content {
		@include media($tablet-size) {
			@include display(flex);
			@include flex-wrap(wrap);
		}
		> .views-row {
			@include media($tablet-size) {
				width: 50%;
				@include display(flex);
				padding: $gutter;
				margin-right: 0;
			}
			@include media($desktop-size) {
				width: 33.33%;
				@include display(flex);
				padding: $gutter;
				margin-right: 0;
			}
		}
	}
	@include media(max-width $tablet-size) {
		.views-row {
			margin-bottom: $gutter;
		}
	}
}

// newsfeed-views ID is configured in the header of the newsfeed view.
#newsfeed-views .menu {
	border-bottom: $base-border;
	border-top: $base-border;
	justify-content: center; // space-between;
	@include display(flex);
	@include flex-wrap(nowrap);
	margin: 0px 0px $gutter;
	// overflow-y: hidden;
	// overflow-x: scroll;

	@include media(max-width $tablet-size) {
		overflow-y: scroll;

		.is-active {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	> li {
		a {
			@include caps();
			font-size: 0.8125em;
			display: block;
			white-space: nowrap;
			@include arrow-down($hover: true);
			padding: $ribbon-pad $gutter*0.75;
		}
	}
}

/* Style for the filters */
#newsfeed-views {
	@include media($tablet-size) {
		margin: $gutter;
	}
}

#newsfeed-views .menu {
	justify-content: flex-start;

	&> li a, #newsfeed-views .menu > li a {
		text-transform: capitalize;
		letter-spacing: 0;
	}
}
