.view-similar-projects > .view-content,
.view-projects-page-blocks.view-display-id-block_2 > .view-content,
.view-projects-page-blocks.view-display-id-block_3 > .view-content  {
	@include media($tablet-size) {
		@include display(flex);
		@include flex-wrap(wrap);
		margin: -$gutter/4;
	}
	> .views-row {
		margin: $gutter 0;
		@include media($tablet-size) {
			margin: 0;
			padding: $gutter/4;
			@include span-columns(4,table);
			@include display(flex);
		}
		@include media($desktop-size) {
			@include span-columns(3,table);
			@include display(flex);
		}
	}
}

.view-projects-page-blocks.view-display-id-block_1 > .view-content {
	@include media($tablet-size) {
		margin: -$gutter/2;
		@include display(flex);
		@include flex-wrap(wrap);
	}

	> .views-row {
		margin: $gutter 0;
		@include media($tablet-size) {
			margin: 0;
			@include span-columns(6,table);
			@include display(flex);
			padding: $gutter/2;
		}
		@include media($desktop-size) {
			@include span-columns(4,table);
			@include display(flex);
		}
	}
}
