.details-link {
	position: absolute;
	bottom: 0px;
	left: 50%;
	@include transform(translateX(-50%) translateY(50%));
	display: block;
	padding: 7px 15px;
	font-size: 0.625em;
	border: $base-border;
	border-radius: 5px;
	background: $white;
	@include caps();
	font-family: $base-font-bold-family;
	@include transition(
		color $effect $eta,
		background-color $effect $eta
	);
	&:hover, &:focus, &:active {
		color: $white;
		background-color: $black;
	}
}