.view-projects--home-featured {
	@include clearfix();
	@include media($tablet-size) {
		margin: -$gutter/4;
	}
	.views-row {
		position: relative;
	    z-index: 1;
		.edit-queue {
			position: absolute;
			bottom: $gutter/8;
			right: $gutter/2;
			z-index: 1;
			display: none;
			color: $white;
			.user-logged-in & {
				display: block;
			}
		}

		$tmp-h: 50vw;

		img {
			transform-origin: center;
			position: absolute;
			width: auto;
			height: auto;
			margin: auto;

			top: -100%; 
			left: -100%; 
			right: -100%; 
			bottom: -100%;

			&:nth-child(1) {
				max-height: $tmp-h;
				max-width: 100%;
			}
			&:nth-child(2) {
				min-width: 170%;
				max-height: none;
				max-width: 170%;
			}
		}

		@for $i from 1 through 6 {
			&:nth-child(#{$i}) {
				img {
					animation-delay: #{0s - (1s*$i)};
				}
			}
		}

		@include media($tablet-size) {
			height: $tmp-h;
			width: 33.33%;
			@include display(flex);

			&:nth-child(1) {
				width: 66.66%;
				float: left;
			}
			&:nth-child(2), &:nth-child(3) {
				width: 33.33%;
				float: right;
				height: $tmp-h/2;
			}
			&:nth-child(4) {
				clear: both;
				width: 100%;
			}
			&:nth-child(5) {
				clear: both;
			}
			&:nth-child(5), &:nth-child(6) {
				float: left;
				width: 50%;
				height: 30vw;

				img {
					&:nth-child(1) {
						max-width: 110%;
						min-width: 110%;
					}
					&:nth-child(2) {
						max-width: 135.5%;
						min-width: 135.5%;
						@include media($max-width) {
							max-width: 192.5%;
							min-width: 192.5%;
						}
					}
				}
			}
		}
		@include media($max-width) {
			$tmp-h: $max-width/2;
			height: $tmp-h;
			&:nth-child(2), &:nth-child(3) {
				height: $tmp-h/2;
			}
		}
	}
}