.view-galleries {
  .view-content {
    @include media($tablet-size) {
      margin: -$gutter/2;
      @include display(flex);
      @include flex-wrap(wrap);
    }

    .views-row {
      margin: $gutter 0;
      @include media($tablet-size) {
        margin: 0;
        @include span-columns(6, table);
        @include display(flex);
        padding: $gutter/2;
      }
      @include media($desktop-size) {
        @include span-columns(4, table);
        @include display(flex);
      }
    }
  }

}