{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>

    <div id="newsfeed-views">
        <ul class="menu">
            {% for value in links %}
                <li class="menu-item">
                    {{ value }}
                </li>
            {% endfor %}
        </ul>
    </div>


</div>
