#block-footercontactform {
	color: $white;
	margin: $gutter*2 0;
	padding: $gutter/2;
	background: url(/themes/custom/mla_theme/images/shutterstock_519606469_CC.jpg) no-repeat center / auto 100%;
	@include media($tablet-size) {
		// padding: $gutter;
		background-position: center left;
		background-size: cover;
	}

	display: none;

	.js-modal &,
	.path-home &,
	.path-contact-us &,
	.path-intel & {
		display: block;
	}

	.js-modal & {
		max-width: $max-width;
		margin: 0px auto;
		@include media(min-height $tablet-size min-width $tablet-size) {
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
		}
		h1 {
			display: none;
			@include media(min-height $tablet-size) {
				display: block;
			}
		}
	}

	h1 {
		margin: $gutter/4 0;
	}
	.subtitle {
		font-size: 1.4em;
		line-height: $heading-line-height;
		margin-bottom: $gutter/4;
	}
	.form-container {
		@include display(flex);
		text-align: center;
		border: 1px solid $white;

		> .inner {
			width: 100%;
			padding: $gutter/2;
			@include media($tablet-size) {
				padding: $gutter*2 $gutter;
			}
			@include media($massive-size) {
				max-width: $max-width;
				margin: 0px auto;
			}

		}
	}

	.form-item:not(.consent) {
		label {
			display: none;
		}
	}
	form {
		display: block;
		@include media($desktop-size) {
			max-width: 500px;
		}
	}
	input[type="text"], input[type="password"], input[type="email"], , input[type="tel"] {
		border-color: $white;
	}

	.submit-btn {
		@include submit-dots();
	}
}
