#block-mediainquiries {
	border-top: $base-border;
	padding: 3.5em 0px 0px;
	// margin: $gutter*2} 0px #{$gutter*2} 0px;
	@include media($tablet-size) {
		margin: $gutter 0px $gutter 0px;
	}
	h2 {
		text-align: center;
		vertical-align: middle;
		text-transform: none;
		margin-bottom: 0;
	}
	svg {
		height: auto;
		width: 90px;
		height: auto;
	    width: 90px;
	    position: relative;
	    top: 20px;
	    margin: 0 10px;
	}
}