.path-user-login .block-system-main-block, // in user login page
.block-user-login-block { // as block
   text-align: center;
   #user-login-form {
     @include media($tablet-size) {
     	display: inline-block;
     }
   }
}