{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - css: An array of CSS files for the current page.
 * - language: (object) The language the site is being displayed in.
 *   language.language contains its textual representation.
 *   language.dir contains the language direction. It will either be 'ltr' or 'rtl'.
 * - grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - styles: Style tags necessary to import all CSS files for the page.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - page: The rendered page content.
 * - page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    current_path ? 'path-' ~ current_path,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K62V6MC');</script>
  <!-- End Google Tag Manager -->

  <!-- LinkedIn tracking tag -->
  <script type="text/javascript">
    _linkedin_data_partner_id = "214410";
  </script>
  <script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})();
  </script>

  {# <!--Bugherd-->
  <script type='text/javascript'>
    (function (d, t) {
      var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
      bh.type = 'text/javascript';
      bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=0d81kwx4kwmimzwcsz5lxq';
      s.parentNode.insertBefore(bh, s);
      })(document, 'script');
  </script>
  <!--End Bugherd--> #}

  <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=214410&fmt=gif" />
  </noscript>
  <!-- End LinkedIn tracking tag -->
</head>
<body{{ attributes.addClass(body_classes) }}>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K62V6MC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
  <a href="#main-content" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
  </a>
  {% if page_top %}
    {{ page_top }}
  {% endif %}

  {% if page %}
    {{ page }}
  {% endif %}

  {% if page_bottom %}
    {{ page_bottom }}
  {% endif %}

  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBim7vf8W9hfeJUcuSg59yP87G2PC0UC7o&callback=initMap"></script>
</body>
</html>