$el: '.file-link';
#{$el} {
	margin: $gutter/4 $gutter/2 $gutter/4 0;
	border: 1px solid $black;	
	border-radius: $base-border-radius;
	font-size: $base-font-size;
	padding: $gutter/2 !important;
	// padding-left: $gutter*0.75;
	font-family: $base-font-bold-family;
	transition: all $effect $eta;
	background: transparent !important;
	width: 200px;
	
	&:hover {
		color: $white !important;
		background-color: $black  !important;
	}
	span {
		display: block;
	}
	
	#{$el}__meta {
		@include caps();
		font-size: $base-font-size*0.7;
		margin-bottom: 5px;
	}
	#{$el}__title {
		text-transform: none;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}