{#
/**
 * @file
 * Theme override for a field.
 */
#}

{% if display == 'list' %}
{% set column_break = 4 %}
{% for item in items %}
  {% if items|length >= column_break %}
    {% set column_break = ((items|length) / 2)|round %}
    {% if loop.first or loop.index0 == column_break %}
      <div class="col">
    {% endif %}
  {% endif %}

  <span class="number">{{ loop.index }}</span>
  {{ item.content }}

  {% if items|length >= column_break %}
    {% if loop.last or loop.index == column_break %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
{% elseif display == 'hide_show' %}
  {% for item in items %}
    <div class="col">
      <span class="number">{{ loop.index }}</span>
      {{ item }}
    </div>
  {% endfor %}
{% else %}
  {% for item in items %}
    {{ item }}
  {% endfor %}
{% endif %}

