{#
/**
 * @file
 * Theme override for a field.
 */
#}


{% set delay = 0 %}
{% for item in items %}
  <div class="menu-item animated fadeIn" data-delay="{{ delay }}">
    <h5>
      {{ item.content }}
    </h5>
  </div>
  {% set delay = delay + 60 %}
{% endfor %}

