{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'display--' ~ content.field_display|render|striptags|trim,
]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            {{ content.field_list_items|field_value }}
        {% endblock %}
    </div>
{% endblock paragraph %}