{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{% block paragraph %}
    <div {{ attributes.addClass(classes) }}>
        {% block content %}
            {% if content.field_list_item_title|field_value %}
                <h3 class="slide-title">{{ paragraph.field_list_item_title.value }}</h3>
            {% endif %}
            {{ content.field_list_item_text }}
            {{ content.field_list_item_resources }}
        {% endblock %}
        {{ content.contextual_links }}
    </div>
{% endblock paragraph %}
