.node--article--teaser {
	@include clearfix();
	text-align: center;
	border-bottom: $base-border;
	margin: 0 0 $gutter 0;
	position: relative;

	//Global
	.date {
		@include caps();
		font-size: 0.9em;
	}
	.divider {
		margin-top: $gutter;
		margin-bottom: $gutter;
	}
	img {
		display: block;
		width: 100%;
		margin-bottom: $gutter;
	}
	p {
		text-transform: uppercase;
	}
	.read-more {
		@include caps();
		margin-top: $gutter;
		display: block;
		margin-bottom: $gutter/2;
		@include media($tablet-size) {
			position: absolute;
			bottom: $gutter/2;
			left: 0;
			width: 100%;
		}
	}
	.text {
		@include media($tablet-size) {
			max-width: $tablet-size;
			margin: 0 auto;
			padding-bottom: $gutter*2.5;
		}
	}
	.subtitle {
		@include caps();
		font-family: $base-font-family;
		max-width: 550px;
		margin: 0 auto;
	}
	
	.views-row:last-child & {
		@include media(max-width $tablet-size) {
			> .text > .inner {
				border-bottom: 0;
			}
		}
	}
}
#node-1 {	
	.view-footer {
		text-align: center;
	}
}
