.node--article--feature-small {
	margin: 0 0 $gutter 0;
	padding-bottom: $gutter/2;
	border-bottom: $base-border;

	h6 {
		margin: 0;
	}	
	img {
		display: block;
		margin-bottom: $gutter/2;
	}
	.field--name-field-publish-date {
		@include caps();
		font-size: 0.9em;
	}
}