.node--article--newsfeed {
	@include clearfix();

	.image {
		img {
			width: 100%;
			height: auto;
		}
		margin-bottom: $gutter*0.5;
	}

	.category {
			@include caps();
			font-family: $base-font-bold-family;
			letter-spacing: .15em;
			font-size: 0.8125em;
	}

	h2 {
		@include h5();
		margin-top: $gutter*0.175;
		margin-bottom: $gutter*0.175;
	}

	.date {
		margin-bottom: $gutter*0.5;
		color: $gray-metadata;
	}
}
