.node--article--featured {
	@include clearfix();

	margin-top: $gutter*1.5;

	.image {
		display: block;
		margin-bottom: $gutter;

		@include media($desktop-size) {
		  width: 575px;
			float: right;
			margin-bottom: 0;
		}
	}

	h2 {
		margin: 0;
	}

	.text {
		display: block;

		@include media($desktop-size) {
			width: calc(100% - 575px);
			float: left;
			padding-right: $gutter*4;
		}
	}

	.date {
		color: $gray-metadata;
		margin: $gutter*0.5 0;
	}

	.divider {
		margin: 0.5em auto 0.5em 0;
		width: 60px;
	}

	.subtitle {
		margin-top: $gutter*1.75;
	}
}
