.node--article--feature-big {
	min-height: 75vh;
	text-align: center;
	vertical-align: middle;
	background-position: center;
	margin: $gutter 0 $gutter*2;
	@include display(flex);
	@include align-content(center);
	@include justify-content(center);
	background-size: auto 100%;

	@include media($tablet-size) {
		margin: $gutter 0 $gutter*2;
		background-size: cover;
		// background-attachment: fixed;
	}
		
	.divider {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}

	> .inner {
		background: $white;
		@include display(flex);
		@include align-self(center);
		vertical-align: middle;
		margin: $gutter/2;
		padding: $gutter/2;
		@include media($tablet-size) {
			margin: $gutter;
			// padding: $gutter;
			max-width: $inner-max-width;
		}
	}
	.read-more {
		@include caps();
	}
	.border-box {
		border: $base-border;
		padding: $gutter/2;
	}
	h3 {
		margin: 0;
	}
}