.node--article--full {
	position: relative;

	h1.border-title {
		span {
			display: block;
		}
		.caps {
			font-size: 0.15em;
			margin: $gutter/2 0;
			@include caps();
		}
		.subtitle {
			font-size: 0.2em;
			line-height: $base-line-height;
			font-family: $base-font-family;
		}
	}
	#social-share {
		@include clearfix();
		margin: $gutter/2 0 $gutter*2;
		position: relative;
		&:before {
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			top: 16px;
			left: 0px;
			background: $black;
			z-index: -1;
		}
		.inner {
			float: right;
			background: $white;
			padding-left: 10px;
			vertical-align: middle;
			ul {
				vertical-align: middle;
				display: inline-block;
				li {
					vertical-align: middle;
					display: inline-block;
					padding-left: 7px;
				}
			}
		}
		span {
			vertical-align: middle;
			font-size: 1.45em;
			font-family: $base-font-bold-family;
		}
	}
	.field--name-field-category {
		border-bottom: $base-border;
		padding-bottom: $gutter/4;
		margin: $gutter 0;
		@include media($tablet-size) {
			margin: 0;
		}
		.field__label {
			@include caps();
			font-size: 0.8125em;
		}
		.field__item {
			font-size: 1.375em;
			font-family: $base-font-bold-family;
		}
	}
	.field--name-body {
		p:first-child::first-letter {
			font-family: $heading-medium-family;
			font-weight: $heading-medium-weight;
			font-size: 3.4375em;
			margin-right: 3px;
			line-height: 0.8em;
		}
	}
	.row-title {
		@include caps();
		font-size: 0.8125em;
		margin: $gutter*2 0 $gutter/2;
	}

	.row {
		@include clearfix();
	}
	.col-one {
		@include media($tablet-size) {
			padding-left: $gutter;
			@include span-columns(6);
		}
	}
	.col-two {
		@include media($tablet-size) {
			@include shift(2);
			@include span-columns(4);
		}
	}

	.inverted & #social-share:before{
		background: $white;
	}
}