.node--article--full {
	.field--name-body {
		//Typography
		a {
			text-decoration: underline;
		}

		b, .b, 
		em, .em {
			@include caps();
		}

		h3, .h3,
		h4, .h4,
		h5, .h5,
		h6, .h6,
		{
			margin: $gutter*1.5 0 $gutter/2;
			&:first-child {
				margin-top: 0;
			}

			a {
				text-decoration: none;
			}
		}

		h3, .h4 {
			font-size: 1.375em;
			font-family: $base-font-bold-family;
		}
		h4, .h4 {
			@include caps();
			font-size: $base-font-size;
			line-height: $base-line-height;
		}
		h5, .h5 {
			@include caps();
			font-size: 0.8125em;
			line-height: $base-line-height;
		}
		h6, .h6 {
			@include caps();
			text-transform: none;
			font-size: 0.8125em;
			line-height: $base-line-height;
		}

		ul {
			list-style-type: disc;
			margin: 1em 0px;
			padding-left: 3.5em;
		}
		ol {
			list-style-type: decimal;
			margin: 1em 0px;
			padding-left: 3.5em;
		}
		li {
			// padding-left: 20px;	
			margin: 0.5em 0px;
		}
	}
}