.path-contact-us {
	.contact-center {
		.globe {
			width: 34px;
			vertical-align: middle;
			margin-right: 5px;
		}
		a {
			font-family: $base-font-bold-family;
		}
		.canada-dots {
			width: 275px;
			display: block;
			margin: 0px auto $gutter;
		}
	}
	.contact-center-left, .contact-center-right {
		font-size: 1.5em;
		line-height: $base-line-height;
	}
}