.dash-box {
	text-align: center;
	position: relative;
	margin: $gutter 0px;
	padding: $gutter*1.5 0px;
	@include media($tablet-size) {
		margin: $gutter*2.5 0px;
		padding: $gutter*1.5 $gutter;
	}
	&:before, &:after {
		content: '';
		position: absolute;
		left: 33.33%;
		width: 33.33%;
		border-top: $base-border;
	}
	&:before {
		top: 0px;
	}
	&:after {
		bottom: 0px;
	}
	h6 {
		@include caps();
		font-size: 1.25em;
	}
	p:last-child {
		margin-bottom: 0;
	}
}