.event-slider {
	background-size: cover;
	background-position: center;
	padding-top: 125%;
	position: relative;
	@include media($tablet-size) {
		padding-top: 45%;
	}
	&:before {
		@include bkg-gradient();
		height: 100%;
	}

	h1 {
		position: absolute;
		bottom: 0;
		left: 50%;
		max-width: 100%;
		padding: $gutter/4;
		@include transform(translateX(-50%));
		color: $white;
		@include media(max-width $tablet-size) {
			font-size: 3.25em;
			margin-bottom: 0.5em;
		}
		@include media($tablet-size) {
			width: $tablet-size;
		}

		&:after {
			border-bottom-color: $white;
		}
	}
}