.node--gallery--teaser{
  text-align: center;
  padding-bottom: .5rem;

  h5{
    margin-bottom: .5rem;

  }
  img {
    width: 100%;
    height: auto;
    @include filter(grayscale(100%));
  }
}

.node--gallery--full{

  .ui-dialog &{
    padding: 20px 20px 40px;
    color: $white;
  }

  .slick-arrow::before{
    color: $white;
  }

  .slick {
    // margin-top: 50%;
    // transform: translateY(-50%);
    .slick-slide {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }
  }

  .media--image {
    padding: 0 $w-pad*2;
    display: flex;
    align-items: center;
  }
}
