.paragraph--type--header {
	border-top: $base-border;
	border-bottom: $base-border;
	padding: $ribbon-pad 0px;
	text-align: center;
	position: relative;
	margin: $row-spacing-mobile 0px;
	@include media($tablet-size) {
		margin: $row-spacing 0px;
	}

	h3 {
		@include caps();
		font-size: 1.25em;
		line-height: $base-line-height;
		margin: 0;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		height: $border-thick;
		background: $black;
		top: 100%;
    	left: 50%;
    	@include transform(translateX(-50%));
		@include transition($border-grow-effect);

		width: 80px;
		@include media($tablet-size) {
			width: 225px;
		}
	}
	&.js-visible {
		&:after {
			width: 150px;
			@include media($tablet-size) {
				width: 310px;
			}
		}
	}

	.inverted &{
		border-top-color: $white;
		border-bottom-color: $white;
		&:after{
			background: $white;
		}
	}

}