.bx-viewport {
	.views-row {
		display: block !important;
		@include transition(
			opacity $effect 0.5s
			// z-index $effect 0.5s
		);
		
		&[aria-hidden="false"] {
			opacity: 1 !important;
			z-index: 2 !important;
			@include transition(
				background-position linear 6s,
				opacity $effect 0.5s
			);
		}
		&[aria-hidden="true"] {
			opacity: 0 !important;
			z-index: 1 !important;
		}

		// @for $i from 1 through 3 {
		// 	&:nth-child(#{$i}) {
		// 		.node--hero {
		// 			animation: move-and-glide-#{$i} 15s infinite;
		// 			animation-timing-function: linear;
		// 			animation-delay: #{-15s + (5s*$i)};
		// 		}
		// 	}
		// }
	}
}
.node--hero {
	background-color: $black;
	background-size: auto 200vw;
	@include media($tablet-size) {
		background-size: auto 160vw;
	}
	@include transition(background-position linear 6s);
	@include transform(translateZ(0));
	color: $white;
	padding: $gutter*1.5;
	min-height: 75vh;

	.hero-logo {
		height: auto;
		max-width: 80%;
		position: absolute;
		left: $gutter;
		@include media(max-width $tablet-size) {
			top: 50%;
			@include transform(translateY(-50%));
		}
		@include media($tablet-size) {
			bottom: $gutter;
			max-width: 50%;
		}
		@include media($massive-size) {
			max-width: $tablet-size;
		}
	}

	a {
		color: $white;
	}
	h2, .featured {
		@include media($tablet-size) {
			position: absolute;
			bottom: $gutter;
		}
	}
	h2 {
		font-family: $heading-family;
		text-transform: none;
		margin-bottom: $gutter*2;
		display: none;
		@include media($tablet-size) {
			left: 0px;
			bottom: 0px;
			padding: $gutter/4;
			margin-bottom: 0px;
			max-width: 50%;
		}
	}
	.featured {
		display: none;
		.em {
			font-size: 0.8em;
			margin-bottom: 10px;
		}
		.h5 {
			font-size: 2.3em;
		}
		@include media($tablet-size) {
			display: block;
			right: $gutter;
			max-width: 220px;
		}
		a {
			&:after {
				//NWASAP chevron
				content: '';
			}
		}
	}
	.field--name-field-featured-project {
		font-family: $heading-bold-family;
		font-weight: $heading-bold-weight;
		text-transform: uppercase;
		font-size: 1.5em;
		line-height: $heading-line-height;
		@include media($tablet-size) {
			font-size: 2.75em;
		}
	}
	.chevron-right {
		width: 12.5px;
		height: auto;
		margin-left: 10px;
		position: absolute;
		top: 50%;
		right: 0px;
		@include transform(translateY(-50%));
	}
	.h5 {
		margin: 0px;
		vertical-align: middle;
		position: relative;
		padding-right: 25px;
	}
}

.view-id-hero_slider {
	margin-right: -$gutter;
	margin-left: -$gutter;
	margin-top: $gutter;
	margin-bottom: $gutter;
	@include media($tablet-size) {
		margin: $gutter 0;
	}
}

.bx-wrapper {
	padding: 0;
    box-shadow: none;
    border: 0;
}
.bx-wrapper .bx-viewport {
    box-shadow: none !important;
}

// @keyframes move-and-glide-1 {
// 	0% {
// 		background-position: left 30% bottom 10%;
// 	}
// 	100% {
// 		background-position: right 20% bottom 55%;
// 	}
// }
// @keyframes move-and-glide-2 {
// 	0% {
// 		background-position: left 0% bottom 35%;
// 	}
// 	100% {
// 		background-position: right 35% bottom 0%;
// 	}
// }
// @keyframes move-and-glide-3 {
// 	0% {
// 		background-position: right 20% bottom 20%;
// 	}
// 	100% {
// 		background-position: right 45% top 10%;
// 	}
// }
