.hbspt-form {
  background: #f2f0f1;
  border-top: 10px solid $black;
  > form,
  > div {
    padding: $gutter*0.66;
  }
  * {
    font-family: inherit !important;
  }
  .hs-richtext {
    p {
      background: none !important;
    }
  }
  [type="text"], [type="email"] {
    background: $white;
    border-radius: $base-border-radius/2;
    text-align: left;
    margin: $gutter/6 0;
    width: 100%;
    font-size: $base-font-size*1.1;
    @include placeholder {
      text-transform: uppercase;
    }
  }
  .field {
    margin: 0;
  }
  .form-columns-2 .input {
    margin-right: $gutter/3 !important;
  }
  .actions {
    padding: 0 !important;
    margin: $gutter/3 0 0 !important;
  }
  form {
    margin: 0 !important;
  }
  .button {
    padding: 15px 25px;
  }

 	.node--project--full & {
		// margin-top: -10px;
		border-top: none !important;
		background: none !important;
		> * {
			padding: 0 !important;
		}
    [type="checkbox"],
    [type="radio"] {
      margin-top: 3px;
    }
		select,
		textarea,
    [type="email"],
    [type="tel"],
		[type="text"] {
			min-width: 100%;
			text-align: left;
			margin: 7.5px 0px;
			border-radius: 8px;

      @include placeholder {
        text-transform: uppercase;
      }
		}
    select {
      background: url(../images/chevron-down.svg) no-repeat right 10px center / 10px auto;
    }
		label:not(.hs-form-booleancheckbox-display) {
			display: none;
		}
		// .form-columns-2 {
			.input {
				margin-right: 15px !important;
			}
		// }
    p {
      font-size: 0.8em;
    }
    .hs-form-booleancheckbox-display {
      margin-bottom: 20px !important;
      p {
        display: inline-block;
      }
    }
	}
}

#article-hubspot {
  margin-top: $gutter*2;
  iframe {
    width: 100% !important;
    // height: auto !important;
  }
}
