.path-culture{
  .layout--col-half{
    margin: 50px 0;
    .col{
      padding: 40px 30px;
      text-align: center;
      .button{
        display: inline-block;
        max-width: 320px;
        margin: 0 auto;
      }
    }
  }

  .paragraph--type--html:first-child{
    text-align: center;
    margin-top: 60px;

    h6{
      font-family: "montserratregular", helvetica, arial, sans-serif;
      letter-spacing: .15em;
      text-transform: uppercase;
      font-size: 1.25em;
      line-height: 1.8;
      margin: 60px auto;
    }
  }

}