.prevnext-element {
	position: absolute;
	top: $gutter*2;
	text-align: center;
	@include caps();
	font-size: 0.8125em;
	line-height: $heading-line-height;
	display: none;
	@include media($tablet-size) {
		display: block;
	}


	&:before, &:after {
		content: '';
		width: 75%;
		display: block;
		margin-left: 12.5%;
	}
	&:before {	
		border-top: $base-border;
	}
	&:after {	
		border-bottom: $base-border;
	}

	a {
		padding: 10px 0px;
		display: block;
	}
}

#prevnext-previous {
	left: 0;
}
#prevnext-next {
	right: 0;
}

.node--article--full {
	.header {
		// position: relative;
		@include media($tablet-size) {
			margin: 0 auto;
			max-width: 75%;
		}
	}	
	#prevnext-previous a, #prevnext-next a {
		&:after {
			content: 'Post';
			display: block;
		}	
	}
}