.project-sort-filters {
	@include transition(max-height $effect $eta);
	position: relative;
	margin-bottom: $gutter;
	max-height: 34px;
	overflow: hidden;
	display: none;
	@include media($tablet-size) {
		@include display(flex);
		@include flex-wrap(nowrap);
		@include justify-content(center);
	}

	&.js-open {
		max-height: 300px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 10px;
		left: 0px;
		width: 100%;
		height: 1px;
		border-bottom: $base-border;
		z-index: 1;
	}

	> li {
		cursor: pointer;
		padding: 0px 1em;
		background: $white;
		z-index: 2;

		&:first-child {
			padding-left: $gutter/2;
		}
		&:last-child {
			padding-right: $gutter/2;
		}

		span {
			padding: 0.1em 0;
			@include caps();
			position: relative;
			padding: 3px $gutter/2;
			display: block;
			font-size: 0.71875em;
			border: $base-border;
			border-radius: $base-border-radius/2;
			background: $white;
			cursor: pointer;
			text-align: center;
			@include arrow-down-fixed();

			@include transition(
				color $effect $eta,
				background-color $effect $eta
			);

			&:hover {
				background: $black;
				color: $white;
			}

		}		
		&.reset span {
			color: $white;
			background: $black;
			&:before, &:after {
				display: none;
			}
		}
	}
	ul  {
		padding: 20px 0 0;
		text-align: center;
		li {
			padding: 0.1em 0;
			cursor: pointer;
			font-size: 0.8125em;

			&.js-active {
				text-decoration: underline;
			}
		}
	}
}