.node--project--feature-small {
	position: relative;
	width: 100%;
	border: $base-border;
	text-align: center;
	@include display(flex);

	.wrap {
		@include display(flex);
		@include flex-wrap(wrap);
		@include flex-direction(column);
		width: 100%;
	}
	.image {
		font-size: 0;
	}
	.text {
		padding: $gutter/2 $gutter $gutter;
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		@include flex-grow(1);

		> .inner {
			// align-self: center;
			width: 100%;
		}
	}
	
	img {
		width: 100%;
	}
	h5 {
		margin: 10px 0px;
		text-transform: uppercase;
		font-size: 1.8em;
	}
	
	.subtitle {
		@include caps();
		font-size: 0.7em;
	}
	.field--name-field-project-status {
		@include caps();
		font-size: 0.6875em;
		position: relative;
	}

	.divider {
		width: 15px;
		&.js-visible {
			width: 30px;
		}
	}
}

.details-link {
	position: absolute;
	bottom: 0px;
	left: 50%;
	@include transform(translateX(-50%) translateY(50%));
	display: block;
	padding: 7px 15px;
	font-size: 0.625em;
	border: $base-border;
	border-radius: 5px;
	background: $white;
	@include caps();
	font-family: $base-font-bold-family;
	@include transition(
		color $effect $eta,
		background-color $effect $eta
	);
	&:hover, &:focus, &:active, .node--project--feature-small:hover & {
		color: $white;
		background-color: $black;
	}
}