$animation-time: 10s;
.node--project--feature-big {
	width: 100%;
	background-position: center center;
	background-size: auto 100%;
	position: relative;
	margin: $gutter/2 0px;
	padding: $gutter*6 $gutter $gutter;
	overflow: hidden;
	&:before {
		@include bkg-gradient();
	}

	@include media($tablet-size) {
		margin: $gutter/4;
		padding: $gutter;
	}
	h5 {
		color: $white;
		margin-bottom: 0px;
		position: absolute;
		bottom: $gutter/4;
		left: $gutter/4;
		a {
			color: $white;
		}
	}

	img {
		@include transition(transform $effect $eta);
		z-index: -2;
	}

	// &.js-visible {
		img {
			//We will have to set the delay in the view css
			&:nth-child(1) {
				animation: featured-image-zoom $animation-time infinite;
				// animation-delay: -#{$animation-time*0.5};
				animation-timing-function: linear;
			}
			&:nth-child(2) {
				animation: featured-image-x $animation-time infinite;
				// animation-delay: -#{$animation-time*0.5};
				animation-timing-function: linear;
			}
		}		
	// }
}

@keyframes featured-image-x {
	0% {
		opacity: 1;
		@include transform(translateX(-5%));
	}
	45% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		@include transform(translateX(0%));
	}
	85% {
		opacity: 0;
		@include transform(translateX(-6.25%));
	}
	100% {
		opacity: 1;
		@include transform(translateX(-5%));
	}
}
@keyframes featured-image-zoom {
	0% {
		opacity: 0;
		@include transform(scale(1.25));
	}
	5% {
		@include transform(scale(2));
	}
	44% {	
		opacity: 0;
	}
	45% {
		opacity: 1;
		@include transform(scale(2));
	}
	100% {
		opacity: 1;
		@include transform(scale(1.25));
	}
}