.page-node-type-project {
	.footer-top {
		margin-top: $gutter*2;
		@include media($tablet-size) {
			margin-top: $gutter*3;
		}
	}
}
.node--project--full #g-map, #g-map.picatic-map {
	border-top: $base-border;
	border-bottom: $base-border;
	margin-top: $gutter;
	margin-bottom: $gutter*3;
	padding-top: 100%;
	@include media($tablet-size) {
		padding-top: 33.33%;
	}
}

.node--project--full {
	.ic {
		width: 21px;
		margin-top: 6px;
	}
	h1.border-title {
		@include transition(none);

		&:after, &:before {
			@include transition(none);
		}
		span {
			display: block;
		}
		.caps {
			font-size: 0.15em;
			margin: $gutter/2 0;
			@include caps();
		}
	}
	.meta {
		@include clearfix();
		margin-top: $gutter;
		margin-bottom: $gutter;
		@include media($tablet-size) {
			margin-top: $gutter*2;
			margin-bottom: $gutter*2;
		}
		h2 {
			text-transform: none;
		}
	}
	.col-one {
		@include media($tablet-size) {
			padding-left: $gutter;
			@include span-columns(6);
		}
	}
	.col-two, .col-three {
		@include media($tablet-size) {
			@include span-columns(3);
			border-left: $base-border;
			padding-left: $gutter;
		}
		> .field {
			margin-bottom: $gutter/2;
		}
		.field__label {
			@include caps();
			font-size: 0.8125em;
		}
		.field__item {
			font-family: $base-font-bold-family;
			font-size: 1.45em;
		}
	}

	&.node--project--form {
		@include media($tablet-size) {
			.col-one {
				@include span-columns(5);
			}
			.col-two {
				@include span-columns(2);
			}
			.col-three {
				@include span-columns(5);
			}
		}
	}
}

.g-map-static {
	display: block;
	background-size: auto;
	background-position: center;
	// border-top: 1px solid $black;
	// border-bottom: 1px solid $black;
	@include filter(grayscale(100%));
	position: relative;
	margin: $gutter auto;

	width: 100%;
	padding-top: 100%;
	@include media($tablet-size) {
		width: 66%;
		padding-top: 66%;
	}


	&:after {
		content: '';
		width: 25px;
    height: 48px;
		position: absolute;
		top: 41%;
		left: 50%;
		transform: translate(-50%,-50%);
		background: url(../images/marker-point.png) no-repeat center / 100% auto;
	}
}
