.accordion-trig {
	@include caps();
	font-size: 1.35em;
	border-bottom: $base-border;
	border-top: $base-border;
	padding: $ribbon-pad 0px;
	margin-bottom: -1px;
	display: block;
	text-align: center;
	position: relative;

	&:after {
		content: '+';
		position: absolute;
		top: 20%;
		right: 0;
	}
	&.js-active::after {
		content: '-';
	}
	@include media($tablet-size) {
		display: none;
	}
}

#services-sort-control {
	text-align: center;
	margin-bottom: $gutter;
  	@include media(max-width $tablet-size) {
  		display: none;
  	}
	.h5 {
		margin-bottom: 10px;
	}
	> li {
		@include transition(border-color $effect $eta);
		vertical-align: top;
  		display: inline-block;
  		margin-right: -1px;
		border: 1px solid rgba($white,0);
		border-bottom: 0;
		text-align: center;
		border-right: 1px solid $black;
		position: relative;
		cursor: pointer;
  		width: 20%;
		padding: $gutter/2 $gutter/8;
		font-size: 0.75em;
  		@include media($tablet-size) {
			padding: $gutter/2 $gutter/8;
  			width: 100px;
  		}
  		@include media($desktop-size) {
			padding: $gutter/2 $gutter/2;
  			width: 160px;
			font-size: 1em;
  		}

		a {
  			@include media(max-width $tablet-size) {
  				display: none;
			}	
		}
		p {
			height: 25px;
			margin-bottom: 0;
  			@include media(max-width $tablet-size) {
				font-size: 0.65em;
				width: 100px;
				// @include transform(rotate(-90deg));
				// transform-origin: center center;
			}
		}

		&:last-child {
			border-right-color: $white;
		}
		

		&:after, &:before {
			@include transition(
				border-top-width $effect $eta,
				border-top-color $effect $eta
			);
			content:'';
			position: absolute;
			left: -2px;
			// right: 0;
			margin: 0 auto;
			width: 0;
			height: 0;
			border-left: solid calc(10.5vw - #{$gutter/8}) transparent;
			border-right: solid calc(10.5vw - #{$gutter/8}) transparent;	
			z-index: -1;

			@include media($tablet-size) {
				border-left: solid 51px transparent;
				border-right: solid 51px transparent;
			}
			@include media($desktop-size) {
				border-left: solid 81px transparent;
				border-right: solid 81px transparent;		
			}
		}
		&:after {
			top: 100%;
			border-top: solid 0px $white;
			@include transform(translateY(-1px));

		}
		&:before {
			top: 100%;
			border-top: solid 0px $white;
		}


		&:hover, &.js-active {
			border: 1px solid $black;
			border-bottom: 0;

			&:after, &:before {
				border-top-width: 15px;
				@include media($tablet-size) {
					border-top-width: 30px;
				}
			}
			&:before {
				border-top-color: $black;
			}
		}
	}	
}

#services-sort-list {
	position: relative;
	> li {
		@include media(max-width $tablet-size) {
			.button-signpost {
				display: none;
			}
			.paragraph--type--header {
				display: none;
			}

			> .inner {
				// @include transition(opacity $effect $eta);
				// max-height: 0px;
				display: none;
				overflow: hidden;
				> div:nth-child(2) {
					padding-top: $gutter*2;
				}
			}
			&.js-active, &.js-fade {
				> .inner {
					display: block;	
					// max-height: none;
				}
			}
		}
		@include media($tablet-size) {
			display: none;
			&.js-active, &.js-fade {
				display: block;
			}
			&.js-fade {
				position: absolute;
				top: 0px;
				z-index: 2;
			}
		}
	}
}