.services-center-icon {
	margin-bottom: $gutter;
	
	width: auto;
	height: 53px;
	@include media($tablet-size) {
		margin-top: $gutter*2;
		height: 105px;
	}
}
.services-center-flow {
	height: auto;
	// max-width: 75%;
	// @include media($tablet-size) {
		max-width: 54%;
		width: 54%;
	// }
}