$control-size: 71px;

.bx-wrapper .bx-loading {
	background-image: none !important;
}
.bx-wrapper {
	.bx-prev, .bx-next {
		height: $control-size !important;
		margin-top: -$control-size/2 !important;
		&:hover {
			background-position: center !important;
		}
	}
	.bx-prev {
		left: $gutter*0.75 !important;
		background: url(/themes/custom/mla_theme/images/chevron-thin-left-white.svg) no-repeat center / 100% auto;
	}
	.bx-next {
		right: $gutter*0.75 !important;
		background: url(/themes/custom/mla_theme/images/chevron-thin-right-white.svg) no-repeat center / 100% auto;
	}
}