.node--team-member--teaser {
	text-align: center;
	width: 100%;
	border-bottom: $base-border;
	@include clearfix();
				
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	h5 {
		margin-bottom: 0px;
		position: relative;
	}
	.field--name-field-job-title {
		@include caps();
		margin-bottom: $gutter;
		font-size: 0.8125em;
	}
	.full {
		display: none;
	}
}

#team-scroller {
	white-space: nowrap;
	overflow: hidden;
	margin: $gutter/4;
	.full {
		vertical-align: top;
		display: inline-block;
		width: 100%;
		white-space: normal;
		text-align: center;
		padding: 0 $gutter/4;
		@include media($tablet-size) {
			padding: 0 $gutter*2.5;
		}
		&:first-child {
			[data-prev] {
				display: none;
			}
		}
		&:last-child {
			[data-next] {
				display: none;
			}
		}

		&.js-cur {
			[data-prev], [data-next] {
				opacity: 1;
			}
		}
	}
	.image {	
		position: relative;
	}
	.field--name-field-job-title {
		@include caps();
		margin-bottom: 10px;
		font-size: 0.8125em;

	}
	.divider {
		margin: $gutter auto;
	}
	.text {
		max-width: $tablet-size;
		margin: 0px auto;
		padding: $gutter 0;
	}
	h5 {
		margin: 0px;
	}
	[data-prev], [data-next] {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		@include transition(opacity $effect $eta);
		opacity: 0;

		svg {
			height: auto;
			width: 20px;
			@include media($tablet-size) {
				width: 30px;
			}
		}

		polygon {
			fill: $white;
			@include media($tablet-size) {
				fill: $black;
			}
		}

	}
	[data-prev] {
		left: $gutter/2;
		@include media($tablet-size) {
			left: -$gutter*2.25;
		}
	}
	[data-next] {
		right: $gutter/2;
		@include media($tablet-size) {
			right: -$gutter*2.25;
		}
	}
}

.view-team-members  {
	@include clearfix();

	.view-content {
		margin: -$gutter/4;
		@include media($tablet-size) {
			@include display(flex);
			@include flex-wrap(wrap);
		}
		> .views-row {
			margin-bottom: $gutter;
			padding: $gutter/4;
			
			@include media($tablet-size) {
				@include span-columns(4,table);
				@include display(flex);
			}
			
			.inner {
				position: relative;
			}
		}
	}
}