.node--team-contact--full{
  @include row();
  .left{
    @include media($tablet-size) {
      @include span-columns(6);
      min-height: 10px;
    }
  }

  .right{
    @include media($tablet-size) {
      @include span-columns(6);
    }   
    color: $white;
  }

  h2{
    margin: 1rem 0 .7rem;
    color: $white;
  }

  .divider{
    margin: 4rem auto 1rem 0;
    border-color: $white;

  }

  .field--label-inline {
    div{
      display: inline;
    }
    .field__label:after{
      content: ': ';
    }
  }

  .field--name-field-contact-photo {
    position: relative;
  }
}

.node--team-contact--teaser, .node--team-contact--full {
  .field--name-field-office-location{
    margin-top: 2rem;
  }

  &__initials {
    text-align: center;
    background: rgba(48,48,48,1);
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    span {
      font-family: $heading-family;
      font-size: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: $white;
    }
  }
}

.node--team-contact--teaser {
  a {
    position: relative;
    display: block;

    .outtake{
      visibility: hidden;
      position: absolute;
      top: 0;
    }

    &:hover{
      .outtake{
        visibility: visible;
      }
    }
  }
  width: 155px;

  &__initials {
    width: 100%;
    padding-top: 100%; //162px
  }
}