{#
/**
* @file
* Default theme implementation to display a node.
*
* Available variables:
* - title: the (sanitized) title of the node.
* - content: An array of node items. Use render(content) to print them all, or
*   print a subset such as render(content['field_example']). Use
*   hide(content['field_example']) to temporarily suppress the printing of a
*   given element.
* - user_picture: The node author's picture from user-picture.tpl.php.
* - date: Formatted creation date. Preprocess functions can reformat it by
*   calling format_date() with the desired parameters on the created variable.
* - name: Themed username of node author output from theme_username().
* - node_url: Direct url of the current node.
* - terms: the themed list of taxonomy term links output from theme_links().
* - display_submitted: whether submission information should be displayed.
* - classes: String of classes that can be used to style contextually through
*   CSS. It can be manipulated through the variable classes_array from
*   preprocess functions. The default values can be one or more of the following:
*   - node: The current template type, i.e., "theming hook".
*   - node-[type]: The current node type. For example, if the node is a
*     "Blog entry" it would result in "node-blog". Note that the machine
*     name will often be in a short form of the human readable label.
*   - node-teaser: Nodes in teaser form.
*   - node-preview: Nodes in preview mode.
*   The following are controlled through the node publishing options.
*   - node-promoted: Nodes promoted to the front page.
*   - node-sticky: Nodes ordered above other non-sticky nodes in teaser listings.
*   - node-unpublished: Unpublished nodes visible only to administrators.
* - title_prefix (array): An array containing additional output populated by
*   modules, intended to be displayed in front of the main title tag that
*   appears in the template.
* - title_suffix (array): An array containing additional output populated by
*   modules, intended to be displayed after the main title tag that appears in
*   the template.
*
* Other variables:
* - node: Full node object. Contains data that may not be safe.
* - type: Node type, i.e. story, page, blog, etc.
* - comment_count: Number of comments attached to the node.
* - uid: User ID of the node author.
* - created: Time the node was published formatted in Unix timestamp.
* - classes_array: Array of html class attribute values. It is flattened
*   into a string within the variable classes.
* - zebra: Outputs either "even" or "odd". Useful for zebra striping in
*   teaser listings.
* - id: Position of the node. Increments each time it's output.
*
* Node status variables:
* - view_mode: View mode, e.g. 'full', 'teaser'...
* - teaser: Flag for the teaser state (shortcut for view_mode == 'teaser').
* - page: Flag for the full page state.
* - promote: Flag for front page promotion state.
* - sticky: Flags for sticky post setting.
* - status: Flag for published status.
* - comment: State of comment settings for the node.
* - readmore: Flags true if the teaser content of the node cannot hold the
*   main body content.
* - is_front: Flags true when presented in the front page.
* - logged_in: Flags true when the current user is a logged-in member.
* - is_admin: Flags true when the current user is an administrator.
*
* Field variables: for each field instance attached to the node a corresponding
* variable is defined, e.g. node->body becomes body. When needing to access
* a field's raw values, developers/themers are strongly encouraged to use these
* variables. Otherwise they will have to explicitly specify the desired field
* language, e.g. node->body['en'], thus overriding any language negotiation
* rule that was previously applied.
*
* @see template_preprocess()
* @see template_preprocess_node()
* @see template_process()
*/
#}
{# {{ attach_library('mla_theme/google-maps') }} #}

{# TODO: How do we know if this is the form to be used #}
{% if content.field_registration_form|field_value %}
    {% set formShow = content.field_registration_form|field_value %}
{% endif %}

{% set archived = 'Archived' in content.field_project_status|field_value[0]["#markup"] ? true : false %}
{% set node_class = [
    'node--project--full',
    archived ? 'is-archived' : 'not-archived',
    formShow ? 'node--project--form',
    node.field_developer.0.value
] %}

<article id="node-{{ node.id }}" class="{{ attributes.addClass(node_class).class }}"{{ attributes }}>
    <div class="header">
        <h1 class="border-title">
            <span class="caps">{{ content.field_project_site_address[0]['locality']['#value'] }}, {{ content.field_project_site_address[0]['administrative_area']['#value'] }}</span>
            {{ label }}
            <span class="caps">{{ content.field_neighbourhood|field_value }}</span>
        </h1>
    </div>
    <div class="img-slideshow">
        {{ content.field_project_images }}
    </div>
    <div class="meta">
        <div class="col-one">
            <h2>{{ content.field_subtitle|field_value }}</h2>
            {{ content.body }}
        </div>
    {% if archived %}
        <div class="col-two">
            {{ content.field_project_home_type }}
            {{ content.field_product_type }}
            {{ content.field_number_of_homes }}
        </div>
        <div class="col-three">
            {{ content.field_developer }}
            {{ content.field_year }}
        </div>
    {% else %}
        <div class="col-two">
            {{ content.field_homes }}
            {{ content.field_bedrooms }}
            {{ content.field_size }}
            {{ content.field_number_of_homes }}
            {{ content.field_developer }}
        </div>
        <div class="col-three">
            {% if formShow %}
                <div class="field__label">Register Now</div>
                {{ formShow }}
            {% else %}
                {{ content.field_price }}
                {{ content.field_project_status }}
                {{ content.field_website }}

                {% if (content.field_social_instagram|render or content.field_social_facebook|render or content.field_social_twitter|render) %}
                    <div class="field">
                        <div class="field__label">Social</div>
                        <div class="field__item">
                            <ul class="social">
                                {% if content.field_social_instagram|render %}
                                    <li><a target="_blank" href="{{ content.field_social_instagram|field_value }}" target="_blank">{% include active_theme_path() ~ '/images/social/instagram.svg' %}</a></li>
                                {% endif %}
                                {% if content.field_social_facebook|render %}
                                    <li><a target="_blank" href="{{ content.field_social_facebook|field_value }}" target="_blank">{% include active_theme_path() ~ '/images/social/facebook.svg' %}</a></li>
                                {% endif %}
                                {% if content.field_social_twitter|render %}
                                    <li><a target="_blank" href="{{ content.field_social_twitter|field_value }}" target="_blank">{% include active_theme_path() ~ '/images/social/twitter.svg' %}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% endif %}


                {% if 'Now' in content.field_project_status|field_value[0]["#markup"] %}
                    <a href="{{- content.field_registration_link|field_value -}}" target="_blank" class="button button-signpost button-signpost-small registration-link">{{ 'Register'|t }}<span></span></a>
                {% elseif 'Planning' in content.field_project_status|field_value[0]["#markup"] %}
                    <a href="#" target="_blank" class="button button-signpost button-signpost-small registration-link sign-up-trig">{{ 'Get Notified'|t }}<span></span></a>
                {% elseif 'Coming Soon' in content.field_project_status|field_value[0]["#markup"] %}
                    {% set preregister_url = path('entity.webform.canonical', {'webform': "preregistration"}) %}
                    {% if content.field_registration_link|render %}
                        {% set preregister_url = content.field_registration_link|field_value %}
                    {% endif %}
                    <a href="{{- preregister_url -}}?project={{ node.id() }}" target="_blank" class="button button-signpost button-signpost-small registration-link">{{ 'Pre-Register'|t }}<span></span></a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    </div>
    <div id="g-map" class="burst-out"
        data-neighborhood="{{ content.field_neighbourhood|field_value }}"
        data-city="{{ content.field_project_site_address[0]['locality']['#value'] }}"
        data-street="{{ content.field_project_site_address[0]['address_line1']['#value'] }}"
        data-postal="{{ content.field_project_site_address[0]['postal_code']['#value'] }}"
        data-province="{{ content.field_project_site_address[0]['administrative_area']['#value'] }}"
    ></div>

    {# <a class="dash-link">See all projects<span></span></a> #}
</article>
