
<article id="node-{{ node.id }}" class="{{ attributes.addClass('node--team-contact--full').class }}"{{ attributes }}>

    <div class="left">
        {% if content.field_contact_photo|field_value is empty %}
	        <div class="node--team-contact--full__initials">
	          <span>{{ content.field_first_name|field_value|render|striptags|slice(0,1) }}{{ label|field_value|render|striptags|slice(0,1) }}</span>
	        </div>
        {% else %}
         <img src="{{- content.field_contact_photo|field_value -}}" />
        {% endif %}
          
    </div>
    <div class="right">
        <h2>{{- content.field_first_name|field_value -}}<br/>{{- node.label -}}</h2>
        {{ content.field_job_title }}
        <div class="divider js-visible"></div>

        {{ content|without('field_contact_photo', 'field_first_name', 'field_job_title') }}
    </div>
</article>