{{ attach_library('mla_picatic/base') }}
{% set startDate = content.field_event_date_time[0].start_date|render %}
{% set endDate = content.field_event_date_time[0].end_date ? content.field_event_date_time[0].end_date | render : false %}

<div class="node--article--full node--picatic--full">

    <div class="event-slider" style="background-image: url({{- content.field_event_image|field_value -}});">
        <h1 class="border-title">
            <span class="caps subtitle">{{ startDate | date('F j, Y') }}</span>
            {{ label }}
            <span class="caps subtitle">{{ content.field_event_sub_title }}</span>
        </h1>
    </div>


    <div class="row">
        <div class="left">
            {{ content.field_event_description }}
        </div>
        <div class="right">
            <div class="center picatic-button-row">
                {% if rsvp %}
                    <a name="message"></a>
                    <p class="rsvp-message">
                        <big>{{ 'Thank you for RSVPing.' | t }}</big>
                    </p>
                {%  else %}
                    {{ content.field_event_rsvp_form }}
                {% endif %}
            </div>
            <!--Add to calendar button-->
            <div class="center picatic-button-row">
                <div title="Add to Calendar" class="button button--atc addeventatc">
                    Add to Calendar
                    <span class="start">{{ startDate }}</span>
                    <span class="end">{{ endDate }}</span>
                    <span class="timezone">America/Los_Angeles</span>
                    <span class="title">{{ node.label }}</span>
                    <span class="description">{{- content.field_event_sub_title|field_value -}}</span>
                    <span class="location">{{- content.field_event_venue|render|striptags|trim -}}, {{- content.field_event_location|render|striptags|trim -}}</span>
                </div>
            </div>




            <br />
            <div class="center">
                <p><big>
                    {{ startDate | date('l F j, Y') }}<br />
                    {{ startDate | date('g:i A') }}
                    {% if endDate %}
                        - {{ endDate | date('g:i A') }}
                    {% endif %}
                </big></p>
                <p>
                    {{ content.field_event_venue }}
                    {{ content.field_event_location }}
                </p>
                <p><strong>{{ content.field_event_sub_title }}</strong></p>
            </div>

            {% set dir = node.field_event_location[0].address_line1 ~ ', ' ~ node.field_event_location[0].locality ~ ', ' ~ node.field_event_location[0].administrative_area %}
            {% set dir_link = 'https://www.google.com/maps/search/?api=1&query=' ~ dir|url_encode %}
            {% set dir = dir|replace({ ' - ': '-', ', ': ',', ' ': '+' }) %}

            <a class="g-map-static" style="background-image: url(https://maps.googleapis.com/maps/api/staticmap?center={{ dir }}&amp;zoom=15&amp;size=500x500&amp;key=AIzaSyBim7vf8W9hfeJUcuSg59yP87G2PC0UC7o" href="{{ dir_link }}" target="_blank"></a>
        </div>
    </div>
    {# <div id="g-map" class="burst-out picatic-map"
         data-city="{{ node.field_event_location[0].locality }}"
         data-street="{{ node.field_event_location[0].address_line1 }}"
         data-province="{{ node.field_event_location[0].administrative_area }}"></div> #}
</div>







