<article id="node-{{ node.id }}"
         class="{{ attributes.addClass('node--team-contact--teaser').class }}"{{ attributes }}>
    <a class="use-ajax no-title"
       data-dialog-options='{"width":"75vw", "classes": {"ui-dialog": "video"}}'
       data-dialog-type="modal"
       href="{{ url }}"
       title="{{ content.field_first_name|field_value|render|striptags }} {{ label|field_value|render|striptags }}">

      {% if content.field_contact_photo|field_value is empty %}
        <div class="node--team-contact--teaser__initials">
          <span>{{ content.field_first_name|field_value|render|striptags|slice(0,1) }}{{ label|field_value|render|striptags|slice(0,1) }}</span>
        </div>
      {% endif %}
      <div class="photo">
        {{- content.field_contact_photo|field_value -}}
      </div>
      {{ content|without('field_contact_photo', 'field_outtake_photo', 'field_first_name') }}
    </a>

</article>