.footer-bottom {
	border-top: $base-border;
	padding-top: $gutter*2;
	margin-top: $gutter;
	@include media($desktop-size) {
		// margin-top: $row-spacing;
		padding-bottom: $row-spacing-mobile;
	}
	> div {
		@include media($desktop-size) {
			@include display(flex);
			@include flex-wrap(nowrap);
		}
		> div, > nav {
			.field__item {
				p:first-child {
					margin-top: 0px;
				}
			}
			@include media(max-width $desktop-size) {
				text-align: center;
			}
			@include media(max-width $massive-size) {
				margin: $gutter 0px;
			}
			@include media($desktop-size) {
				width: 25%;
				&:nth-child(1) { //, &:nth-child(3) {
					padding-right: $gutter;
				}
				&:nth-child(4) {
					padding-left: $gutter;
				}
			}


			@include media($massive-size) {
				width: 25%;
				&:first-child {
					padding-left: 0px;
				}
				&:last-child {
					padding-right: 0px;
				}

				&:nth-child(2) {
					width: 25%;
				}
				&:last-child {
					margin-left: auto;
				}
			}
		}
	}
	.inverted &{
		border-top-color: $white;
		div > div{
			border-left-color: $white;
		}
	}
}
#block-mainnavigation, #block-footer {
	position: relative;
	.mla-logo {
		height: auto;
		margin-top: $gutter;
		max-width: 150px;
		@include media($desktop-size) {
			position: absolute;
			bottom: -21px;
		}
	}
	.inverted & svg path{
		fill: $white;
	}
}
#block-mainnavigation, #block-footer {
	a {
		@include caps();
	}
}
#block-footeraddress, #block-footeraddress2 {
	font-family: $base-font-bold-family;
	position: relative;
	.globe {
		width: 30px;
		height: auto;
	    vertical-align: middle;
	    margin-right: 10px;
	}
	.globe-space {
		margin: $base-spacing 0px;
	}
	.bottom-icon {
		@include media($desktop-size) {
			position: absolute;
			bottom: 0;
			p:last-child {
				margin-bottom: 0;
			}
		}
	}
	.inverted & .globe path{
		fill: $white;
	}
}
#block-footersignup {
	@include clearfix();
	@include media(max-width $desktop-size) {
		padding-top: $gutter;
		margin-top: $gutter;
		border-top: $base-border;
	}
	.field--name-body {
		max-width: 350px;
		@include media(max-width $desktop-size) {
			margin: 0px auto;
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
	.mla-intel {
		max-width: 180px;
		margin-top: $gutter;
		@include media(max-width $desktop-size) {
			margin: $gutter auto 0;
		}
	}

	.right {
		margin-top: 60px;
		float: right;
	    width: 33.33%;
	    padding: 0px 0px 0px 10px;
	    svg {
	    	max-height: 100px;
	    }
	}
	.left {
		margin-top: 60px;
		float: left;
	    width: 66.66%;
	}
	.logo-intel {
		margin-bottom: 10px;
	}

	.inverted & .logo-intel path{
		fill: $white;
	}
}
#block-socialmediafooter {
	position: relative;

	@include media($desktop-size) {
		width: 25%;
		padding-bottom: 100px;
	}

	h6, h5 {
		margin-bottom: 0;
		text-transform: none;
    font-size: 2.5em;
	}
	p:last-child {
		font-size: 0.8em;
		margin-bottom: 0;
	}
	.social {
		margin-bottom: $gutter;
		text-align: center;
		@include media($desktop-size) {
			text-align: left;
		}
	}
	.bottom-icon {
		@include media($desktop-size) {
			position: absolute;
			bottom: -36px;
		}
	}
}
