// .grid-m {
// 	@for $i from 1 through 12 {
// 		&-#{$i} {

// 		}
// 	}
// }

$tmp-break: 830px;
.layout--col-half {
	> .field {
		@include clearfix();
	}
	&.is-responsive {
		> .field > .col {
			&:first-child {
				@include media(max-width $tmp-break) {
					margin-bottom: $gutter*2;
				}
			}

			@include media($tmp-break) {
				@include span-columns(6);
			}
		}
	}
	&.not-responsive {
		> .field > .col {
			@include span-columns(6);
		}
	}

	&.show-divider {
		margin-top: $gutter;
		margin-bottom: $gutter;
		padding: $gutter*2 0;
		border-top: $base-border;
		border-bottom: $base-border;

		h3 {
			@include caps();
			font-size: 1.4375em;
			line-height: $base-line-height;
			margin: $gutter 0 $gutter/4;
		}

		> .field > .col {
			&:nth-child(2) {
				.paragraph--type--service-cta {
					@include media(min-width $tmp-break max-width $desktop-size) {
						margin-left: $gutter;
					}
				}
			}
		}
		> .field {
			position: relative;
			@include media($tmp-break) {
				@include display(flex);
				@include justify-content(center);
				@include align-items(center);

				&:before {
					content: '';
					width: 1px;
					height: 100%;
					position: absolute;
					top: 0px;
					left: 50%;
					background: $black;
				}
			}
		}
	}

	.inverted &.show-divider{
		> .field:before{
			background: $white;
		}
	}
}

$col-space: 2%;

.layout--col-two-one {
	@include clearfix();
	> .field--name-field-container-content {
		@include media($tablet-size) {
			@include display(flex);
			@include flex-wrap(wrap);
			margin: -$gutter/4;
		}
	}
	> .field > .col {
		width: 100%;
		position: relative;

		&:nth-child(odd) {
			@include media(max-width $tablet-size) {
				margin: $gutter 0;
			}
			@include media($tablet-size) {
				padding: $gutter/4;
				@include span-columns(8,table);
				@include display(flex);
				> div {
					width: 100%;
				}
			}
		}
		&:nth-child(even) {
			@include media(max-width $tablet-size) {
				margin: $gutter 0;
			}
			@include media($tablet-size) {
				padding: $gutter/4;
				@include span-columns(4,table);
				@include display(flex);
				> div {
					width: 100%;
				}
			}
		}

	}
}

.layout--col-third {
	@include clearfix();
	> .field--name-field-container-content {
		@include media($tablet-size) {
			@include display(flex);
			@include flex-wrap(wrap);
			margin: -$gutter/4;
		}
	}
	> .field > .col {
		width: 100%;
		position: relative;
		@include media(max-width $tablet-size) {
			margin: $gutter 0;
		}
		@include media($tablet-size) {
			padding: $gutter/4;
			@include span-columns(6,table);
			@include display(flex);
			> div {
				width: 100%;
			}
		}
		@include media($desktop-size) {
			@include span-columns(4,table);
			@include display(flex);
		}

		//Check dash boxes
		&:nth-child(1) .dash-box {
			@include media(max-width $tablet-size) {
				margin-bottom: -$gutter;
			}
		}
		&:nth-child(2) .dash-box {
			@include media(max-width $tablet-size) {
				margin-top: -1px;
				margin-bottom: -1px;
			}
		}
		&:nth-child(3) .dash-box {
			@include media(max-width $tablet-size) {
				margin-top: -$gutter;
			}
		}
	}
}

$col: 4;
.layout--col-fourth {
	@include clearfix();
	> .field > .col {
		display: block;
		width: 100%;
		margin: $col-space*2 0;
		@include media($tablet-size) {
			width: #{((100% - (($col - 1)*$col-space))/$col)};
			float: left;
			margin: 0px $col-space $col-space 0px;
			&:nth-child(#{$col}n) {
				margin-right: 0;
			}
		}
	}
}