$ham-border: 1px;

#block-mla-theme-branding, #block-mla-theme-main-menu {
	&.contextual-region {
		// .js-hamburger-open & {
		@include media(max-width $tablet-size) { //allows hamburger to be well positioned
			position: static;
		}
	}
}

#block-mla-theme-branding {
	min-height: 141px; //fix for hamburger
}

#site-header {
	.site-logo {
		text-align: center;
		a {
			// margin: 0 auto;
			display: inline-block;
		}

		@include media(max-width $tablet-size) {
			.js-hamburger-open & {
				position: fixed;
				z-index: 10;
				left: 50%;
				@include transform(translateX(-50%));
				path {
					fill: $white;
				}
			}
		}
	}
	.mla-logo {
		display: block;
		height: auto;
		// margin: 0 auto;
		padding: $gutter 0px $gutter;
		width: 160px;
		@include media($tablet-size) {
			margin-top: $gutter/2;
			// width: 228px;
		}

		path {
			@include transition(fill $effect $eta);
		}
	}
	.menu {

		@include media(max-width $tablet-size) {
			// @include transform(translateX(-50%));
			// @include transition(
			// 	top $effect $eta,
			// 	max-height $effect $eta,
			// 	max-width $effect $eta,
			// 	transform $effect $eta
			// );
			@include caps();
			font-family: $base-font-family;
			font-size: 1.15em;
			color: $white;
			max-height: 20px;
			max-width: 30px;
			border-bottom: $ham-border solid $black;
			border-top: $ham-border solid $black;
			overflow: hidden;
			left: $gutter/2;
			top: 20px;
			position: absolute;
			z-index: 3;

			&:after {
			    @include transition(opacity $effect $eta);
				content: '';
			}

			.js-hamburger-open & {
				position: static;
				@include align-self(center);
				max-width: 100%;
				max-height: 400px;
				padding: 8em 0 $gutter 0;
				left: 0;
				// @include transform(translateX(-50%) translateY(-50%));
			}

			&:before {
				@include transition(
					top $effect $eta,
					opacity $effect $eta/2
				);
				border-top: $ham-border solid $black;
				width: 100%;
				content: '';
				position: absolute;
				top: 45%;
				display: block;
				left: 0;
				opacity: 1;
				.js-hamburger-open & {
					opacity: 0;
					top: 100%;
				}
			}


			> li {
				width: 100vw;
				max-width: 100%;
				&:first-child {
					margin-top: $gutter;
					.js-hamburger-open & {
						margin-top: 0;
					}
				}
				a {
					@include transition(opacity $effect $eta);
					opacity: 0;
					display: block;
					padding: $gutter/4;
					text-align: center;
					color: $white;
					.js-hamburger-open & {
						opacity: 1;
					}
				}
			}
		}
		@include media($tablet-size) {
			border-bottom: $base-border;
			border-top: $base-border;
			justify-content: center; // space-between;
			@include display(flex);
			@include flex-wrap(nowrap);
			margin: 0px 0px $gutter;
			// overflow-y: hidden;
			// overflow-x: scroll;

			> li {
				a {
					@include caps();
					font-size: 0.8125em;
					display: block;
					white-space: nowrap;
					@include arrow-down($hover: true);
					padding: $ribbon-pad $gutter*0.75;
				}
			}
		}
	}
	.inverted & {
		.menu{
			border-top-color: $white;
			border-bottom-color: $white;
			&:before {
				border-color: $white;
			}

			li a:before {
					border-top-color: $white;
			}
			li a:after {
					border-top-color: $black;
			}
		}

		.mla-logo path{
			fill: $white;
		}

	}
}

#block-mla-theme-main-menu {
	@include media(max-width $tablet-size) {
		.js-hamburger-open & {
			&:before, &:after {
				content: '';
				height: $ham-border;
				width: 30px;
				// @include trans
	    		position: fixed;
	    		left: 16px;
	    		display: block;
	    		background: $white;
	    		cursor: pointer;
		    	z-index: 3;
	    		top: 29px;
			}

			&:after {
				@include transform(rotate(45deg));
			}
			&:before {
				@include transform(rotate(-45deg));
			}
	    	position: fixed;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 2;
		    background: rgba($black,1);
		    animation: fadein $effect $eta;
		    @include display(flex);
		    @include justify-content(center);
		    @include align-content(center);
	    }
	    .js-hamburger-open.user-logged-in & {
    		&:before, &:after {
    			top: 70px;
    		}
    	}
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
