[role="document"] {
	max-width: $max-width;
	margin: 0px auto;
	position: relative;
	padding: $gutter/2;
	@include media($tablet-size) {
		padding: $gutter;
	}
}
html, body {
	overflow-x: hidden;
	// background: $white;
	width: 100%;
	-webkit-overflow-scrolling-x: auto;
}