.js-modal {
	@include transition(opacity $effect $eta);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	background: $white;
	opacity: 0;
	z-index: 9999;
	overflow-y: scroll;
	@include smooth-scroll();
		

	&.js-active {
		opacity: 1;
	}
}

.ui-dialog {
	border-radius: 0;
	border: 0 !important;
	@include media(max-width $tablet-size) {
		width: 100% !important;
	}
}

[aria-describedby="drupal-modal"].ui-dialog {
	//New
	z-index: 99999;
	box-sizing: border-box;
	color: $white;
	background: $black;
	padding: $gutter/2;
	// height: 90vh !important;
	// top: 5vh !important;
	@include media($tablet-size) {
		padding: $gutter;
	}

	&.gallery-modal {
		height: 90vh !important;
		max-height: 90vh !important;
		top: 5vh !important;

		#drupal-modal {
			height: calc(100% - #{$gutter*2}) !important;
		}
	}

	&.contact-modal {
		#drupal-modal {
			max-height: 90vh !important;
		}
	}
	
	.ui-widget-header {
		background: none;
		border-bottom: 0;
	}
	.ui-widget-content {
		color: inherit;
	}
	.ui-dialog-title {
		// display: none;
		font-family: $heading-bold-family;
		font-size: 37px;
		line-height: $heading-line-height;
		text-align: center;
		white-space: normal;
		font-weight: $heading-bold-weight;
		margin: 0;
		display: block;
		width: 100%;
		float: none;
		color: inherit;
	}
	.ui-dialog-titlebar {
		padding-top: 30px;
	}
	label {
		color: inherit;
	}
	.ui-dialog-buttonpane {
		background: none;
		border-top: 0;
	}

	> div {
		border-right: 1px solid $white;
		border-left: 1px solid $white;
		color: inherit;

		&:first-child {
			border-top: 1px solid $white;
		}
		&:last-child {
			border-bottom: 1px solid $white;
			height: auto !important;
		}
	}

	.ui-dialog-buttonset.form-actions {
		// @include submit-dots();
		// input, button {
		// 	color: inherit;
		// 	@include hover {
		// 		color: inherit;
		// 	}
		// }

		// &:before, &:after {
		// 	position: relative;
    // 	top: 5px;
		// }

		text-align: center;
		.button {
			display: inline-block;
			margin-bottom: $gutter;
			font-family: $base-font-bold-family;
			width: 100%;
			box-sizing: border-box;
			@include media($tablet-size) {
				width: 300px;
			}
		}
	}
	.ui-dialog-buttonpane {
		text-align: center;
		.ui-dialog-buttonset {
			float: none;
		}
	}

	.ui-icon-closethick {
		top: 25px;
    right: 10px;
		left: initial;
		background: none !important;
	}

	.ui-dialog-titlebar-close {
		top: 20px;
		right: 10px;
		width: 30px;
		height: 30px;
		background: none;
		
		&:after,
		&:before {
			content: '';
			height: 2px;
			width: 30px;
			position: absolute;
			top: 15px;
			right: 0px;
			background: $white;
			transform-origin: center;
		}

		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
	}
}

.ui-widget-header {
	// background-color: $black !important;
	// border: 0 !important;
}
body .ui-widget-overlay {
	background: $black;
	opacity: 1;
}