.pager {
	text-align: center;
	margin: $gutter 0 $gutter*2;

	> ul {
		min-width: 45vw;
		display: inline-block;
		padding: $gutter/2;
		border-top: $base-border;
		border-bottom: $base-border;
		li {
			display: inline-block;
			margin: 0 $gutter/4;
		}
	}

	.is-active {
		font-family: $base-font-bold-family;
	}
}