{{ attach_library('mla_picatic/base') }}

<div class="node--article--full node--picatic--full">

    <div class="event-slider" style="background-image: url({{ event.image }});">
        <h1 class="border-title">
            <span class="caps subtitle">{{ event.date_short }}</span>
            {{ event.title }}
            <span class="caps subtitle">{{ event.summary }}</span>
        </h1>
    </div>


    <div class="row">
        <div class="left">
            {% if event.closed %}
                <div>This event is now closed</div>
            {% endif %}

            <h3>{{ event.description|raw }}</h6>

            {{ event.disclaimer|raw }}
        </div>
        <div class="right">
            <div class="center picatic-button-row">
                <a href="https://www.picatic.com/{{event.id}}" class="button">RSVP</a>
            </div>

            <!--Add to calendar button-->
            <div class="center picatic-button-row">
                <div title="Add to Calendar" class="button button--atc addeventatc">
                    Add to Calendar
                    <span class="start">{{ event.date.start_date }} {{ event.date.start_time }}</span>
                    <span class="end">{{ event.date.end_date }} {{ event.date.end_time }}</span>
                    <span class="timezone">America/Los_Angeles</span>
                    <span class="title">{{ event.title }}</span>
                    <span class="description">{{ event.description|raw }}</span>
                    <span class="location">
                        {{ event.location.name }},
                        {{ event.location.street }},
                        {{ event.location.city }},
                        {{ event.location.region }},
                        {{ event.location.country }}
                    </span>
                </div>

                <!-- Start Picatic widget embed -->
                <script async src="https://widget.picatic.com/latest/js/embed.min.js" id="picatic-widget-script"></script>
                <!-- End Picatic widget embed -->
            </div>


            <br />
            <div class="center">            
                <p><big>{{ event.dates.date_day }}<br />{{ event.dates.date_time }}</big></p>
                <p>
                    {{ event.location.name }}<br/>
                    {{ event.location.street }}<br/>
                    {{ event.location.city }}, {{ event.location.region }}, {{ event.location.country }}
                </p>
                <p><strong>{{ event.summary }}</strong></p>
            </div>
        </div>
    </div>

    <div id="g-map" class="burst-out picatic-map" data-city="{{ event.location.city }}" data-street="{{ event.location.street }}" data-province="{{ event.location.region }}"></div>
</div>







